        #holder {
            height: 400px;
            margin: -200px 0 0 -200px;
            width: 400px;
        }
        #form {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 400px;
            height: 100px;
            margin: -200px 0 0 -200px;
        }
        body {
            background: #333;
            color: #fff;
            font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
        }
        #holder {
            height: 480px;
            left: 50%;
            margin: -240px 0 0 -320px;
            position: absolute;
            top: 50%;
            width: 640px;
        }
        #copy {
            bottom: 0;
            font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
            position: absolute;
            right: 1em;
            text-align: right;
        }
        #copy a {
            color: #fff;
        }
