.DS_Store
*~
*.pyc
.*.swp
__pycache__
resultados/camara.db.backup
camaraws/camaraws.db
radar_parlamentar.db
radar_parlamentar/settings.py
radar_parlamentar/radar_parlamentar.db
radar.log

# eclipse related
.project
.pydevproject
.settings/*
.metadata/

# virtualenv related
.Python
bin/
include/
lib/
local/
activate/
build/

# Sonar config files
radar_parlamentar/.coverage
radar_parlamentar/.sonar/pylint/*
