radar_parlamentar/radar.log
radar_parlamentar/static
radar_parlamentar/static/db-dump/radar.sql
radar_parlamentar/radar_parlamentar/settings/production.py
radar_parlamentar/radar_parlamentar/settings/development.py
radar_parlamentar/radar_parlamentar/static/db-dump/radar.sql

.DS_Store
*.py.bak
*~
*.pyc
.*.swp
__pycache__

# eclipse related
.project
.pydevproject
.settings/*
.metadata/

# virtualenv related
.Python
bin/
include/
lib/
local/
activate/
build/
venv/
env/

# Sonar config files
radar_parlamentar/.coverage
radar_parlamentar/.sonar/pylint/*
