#mulheres {
  width: 960px;
  height: 500px;
  background: #bbb;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  /* fill: none;*/
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children:hover rect.child {
  fill: #aaa;
}
