/* Hacks for IE7 */

#menu>li{z-index: 99;}

#menu ul{z-index: 999;}

#menu li a{
        border: none;
        color: #ddd;
}

.promoMsg{margin-top: 0;}

#footer .top .cols{padding-top: 40px;}

#footer .bottom{padding-bottom: 10px;}

.socialLinks{text-indent: -9999px;}

.breadcrumbs{margin: 0px 0 40px 0;}

#port{
        padding: 0 0 20px;
        width: 1020px;
}

#tKeys{padding-bottom: 30px;}

#tConts{padding-top: 0px;}

#secondary .miniBlogList{margin: 20px 0 0;}

#secondary .col2Links{margin-right: -20px;}

.dynamic{padding-bottom: 20px;}

#secondary .social li a{text-indent: -9999px;}

#nlForm input[type="submit"]{width: 80px;}

#commentForm input[type="submit"]{width: 120px;}

#cntForm input[type="submit"]{width: 110px;}

.cntPageSocial li a,
#feedback .ctrls a,
#tweets .ctrls a{text-indent: -9999px;}

#clients{height: 250px;}

.prevSBtn,
.nextSBtn{top: 240px;}

.priceBoxes .wrap{padding-top: 30px; }

.priceBoxes hgroup{margin-top: 0;}

.priceBoxes h3{margin-bottom: 0;}

.priceBoxes hr{margin: -10px 0 16px;}

.priceBoxes .bubble,
.priceBoxes .btn{color: #fff;}

.priceBoxes .priceNote{margin-top: -80px;}

#searchForm input[type="submit"]{text-indent: -9999px;}

#portCntrls{
        padding-left: 92px;
        width: 258px;
}

#port.qsList .thumb{overflow: hidden;}