/* Popup content container */
#popup-content{
	background-color: #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color:#FFF;
	display: none;
	max-width: 700px;
	padding: 15px;
	width: 80%;

	position: fixed;
	z-index: 10002;
}

#popup-content > div + div{ text-align:right; }

#modal-open-button {display:none;}
#overlay-bg {
	background-color: #000;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
	display: none;
}

#modal-content {
	margin: 0 auto;
}

#modal-content #recolhido {
	float: left;
}

#modal-content #expandido {
	float: right;
	
}

#modal-content img {
	width: 330px;
	height: 330px;
}

#modal-content input {
	margin-top: 20px;
	font-weight: bold;
	padding: 8px;
	float: right;
}