/* Popup content container */
#popup-content{
	background-color: #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color:#FFF;
	display: none;
	max-width: 500px;
	padding: 0 10px 10px 10px;
	width: 80%;

	position: fixed;
	z-index: 10002;
}

#popup-content > div + div{ text-align:right; }

#overlay-bg{
	background-color: #000;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
	display: none;
}