/* Main Style Sheet Document */

/* link colors */
a,
.links li a:focus,.links li a:hover,
.tags li a:focus,.tags li a:hover,
.breadcrumbs li a:focus,.breadcrumbs li a:hover,
#port .thumb .link:focus,#port .thumb .link:hover,
#port .thumb .btn:focus,#port .thumb .btn:hover,
#port .meta a:focus,#port .meta a:hover,
.blogList .wrap .meta li a:focus,.blogList .wrap .meta li a:hover,
.blogList .wrap .meta li a:focus strong,.blogList .wrap .meta li a:hover strong,
.blogList .btmMeta li a:focus,.blogList .btmMeta li a:hover,
.post .topMeta li a:focus,.post .topMeta li a:hover,
#comments .meta p a:focus,#comments .meta p a:hover,
.searchResults .meta a:focus,.searchResults .meta a:hover,
#footer .col2Links a:focus,#footer .col2Links a:hover,
#secondary .col2Links .links a:focus,#secondary .col2Links .links a:hover,
#secondary .dynamic .tags a:focus,#secondary .dynamic .tags a:hover,
#secondary .tweet_time a:focus,#secondary .tweet_time a:hover{color: #12a108;}

                .archiveList a:focus,
                .archiveList a:hover,
                .linkList a:focus,
                .linkList a:hover{color: #12a108;}

.btn:focus,
.btn:hover,
.pager a:focus,
.pager a:hover{background-color: #12a108;}

        .links li a:focus,
        .links li a:hover{border-color: #12a108;}


/* heading colors */
h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {color: #e94025;}

/* graphics */
        #feedback .prev,
        #tweets .prev{background-image:  url(../../../images/btn/fb-t/ft-arw-up-og.png);}
        
        #feedback .next,
        #tweets .next{background-image:  url(../../../images/btn/fb-t/ft-arw-dn-og.png);}

/* darker version of the heading color */
.slideMsgs h3,
.headerMsg h1{color: #dc3015;}

                #menu>li:hover>a,
                #menu>li>a:focus,
                #menu>li>a:hover,
                #menu>li.active>a{
                        background-color: #e94025;
                        background-image: url(../../../images/menu-bg-og.png);
                        border-top-color: rgba(255,255,255,.25);
                }

                #menu ul li.active>a,
                #menu ul li:hover>a,
                #menu ul a:focus,
                #menu ul a:hover{background: #e94025;}

                .workProcess .step1 {background-image: url(../../../images/process/1-og.png);}

                .workProcess .step2 {background-image: url(../../../images/process/2-og.png);}

                .workProcess .step3 {background-image: url(../../../images/process/3-og.png);}

button,input[type="button"],
input[type="submit"],input[type="reset"],
.prevSBtn:focus,.prevSBtn:hover,
.nextSBtn:focus,.nextSBtn:hover,
#sortKeys li[class*="selected"] a,
#sortKeys .active a,#sortKeys li a:focus,
#sortKeys li a:hover,
#portCntrls .portPager a:focus,#portCntrls .portPager a:hover,
#btmPortCntrls .portPager a:focus,#btmPortCntrls .portPager a:hover,
#portCntrls .portDT .grid.active,#portCntrls .portDT .grid:focus,
#portCntrls .portDT .grid:hover,#portCntrls .portDT .list.active,
#portCntrls .portDT .list:focus,#portCntrls .portDT .list:hover{background-color: #e94025;}

#port .thumb .link,
.portCol2 .meta .link a{background-image: url(../../../images/links-og.png);}

        .blogList .wrap .written a{background-image: url(../../../images/icons/blog-types/og/pencil.png);}
        .blogList .wrap .video a{background-image: url(../../../images/icons/blog-types/og/film.png);}
        .blogList .wrap .audio a{background-image: url(../../../images/icons/blog-types/og/audio.png);}
        .blogList .wrap .image a{background-image: url(../../../images/icons/blog-types/og/image.png);}
        .blogList .wrap .slides a{background-image: url(../../../images/icons/blog-types/og/slides.png);}
        .blogList .wrap .link a{background-image: url(../../../images/icons/blog-types/og/link.png);}
        .blogList .wrap .quote a{background-image: url(../../../images/icons/blog-types/og/quote.png);}

        .post .topMeta .written a{background-image: url(../../../images/icons/blog-types/og/mini-pencil.png);}
        .post .topMeta .video a{background-image: url(../../../images/icons/blog-types/og/mini-film.png);}
        .post .topMeta .audio a{background-image: url(../../../images/icons/blog-types/og/mini-audio.png);}
        .post .topMeta .image a{background-image: url(../../../images/icons/blog-types/og/mini-image.png);}
        .post .topMeta .slides a{background-image: url(../../../images/icons/blog-types/og/mini-slides.png);}
        .post .topMeta .link a{background-image: url(../../../images/icons/blog-types/og/mini-link.png);}
        .post .topMeta .quote a{background-image: url(../../../images/icons/blog-types/og/mini-quote.png);}