<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta content="text/html; charset=utf-8"/>
    <meta name="distribution" content="global"/>
    <meta name="robots" content="follow, all"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="revisit-after" content="10 days"/>
    <meta name="keywords" content="Circle, Theme, Template, HTML5, CSS3, palpaldal, design, development, dark, strong, fantastic, large slider" />
    <meta name="description" content="A lovely HTML5 + WordPress Theme with Great Designs and Robust Customization Options"/>
    
    <title>3 Column Portfolios with Promo Message:: Circle Theme</title>
    
    <link rel="shortcut icon" href="assets/favicon.ico"/>
    
    <!-- CSS Libraries and codes -->
    <link rel="stylesheet" type="text/css" href="files/codes/css/reset.css" />
    <link rel="stylesheet" href="files/codes/css/style.css" type="text/css" />
    <link rel="stylesheet" href="files/codes/css/prettyPhoto.css" type="text/css" />

	<!-- Modernizr for HTML5 -->
	<script style="display: none;" src="files/codes/js/modernizr-2.0.6.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31550296-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<header id="header">
    	<div class="bar"></div><!-- the top border -->
        <section id="navNLogo">
        	<div class="wrap">
                <div id="logo">
                	<a href="#">
                    	<img src="assets/logo.png" height="28" width="83" alt="Circle">
                    </a>
                </div>
                <nav>
                    <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li>
                        	<a href="about.html">About</a>
                            <ul>
                            	<li>
                                	<a href="#">Home Pages</a>
                                    <ul>
                                    	<li><a href="index.html">Default</a></li>
                                    	<li><a href="index-port.html">Featured Portfolio</a></li>
                                    	<li><a href="index-2.html">Style 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Home Sliders</a>
                                    <ul>
                                    	<li><a href="index.html">Drag Left/Right [Cycle] 2 Box Msg</a></li>
                                    	<li><a href="index-port.html">Drag Left/Right [Cycle] 1 Box Msg</a></li>
                                    	<li><a href="index-3.html">Fade [Cycle] 2 Box Msg</a></li>
                                    	<li><a href="index-2.html">Fade [Cycle] 1 Box Msg</a></li>
                                    	<li><a href="index-box-elastic.html">Boxed Slides [Elastic]</a></li>
                                    	<li><a href="index-box-nivo.html">Boxed Slides [Nivo]</a></li>
                                    	<li><a href="index-box-cycle.html">Boxed Slides [Cycle]</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Page</a></li>
                                <li><a href="price-boxes.html">Price Boxes</a></li>
                                <li><a href="archive.html">Archives</a></li>
                                <li><a href="search-results.html">Search Results</a></li>
                                <li><a href="404.html">404 - Error Page</a></li>
                                <li>
                                	<a href="#">Column Variations / Layout</a>
                                    <ul>
		                                <li><a href="columns.html">Columns Full Width</a></li>
        		                        <li><a href="columns-sb.html">Columns with Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="typography.html">Typography</a></li>
                            </ul>
						</li>
                        <li class="active">
                        	<a href="portfolio.html">Portfolio</a>
                            <ul>
                            	<li><a href="portfolio.html">Circle Portfolio</a></li>
                                <li>
                                	<a href="#">Portfolio (Quicksand)</a>
                                    <ul>
                                    	<li><a href="portfolio-qs-2.html">Portfolio Col 2</a></li>
                                    	<li><a href="portfolio-qs-3.html">Portfolio Col 3</a></li>
                                    	<li><a href="portfolio-qs-4.html">Portfolio Col 4</a></li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Portfolio (Message)</a>
                                    <ul>
                                    	<li class="active"><a href="portfolio-2.html">Portfolio Col 2</a></li>
                                    	<li><a href="portfolio-3.html">Portfolio Col 3</a></li>
                                    	<li><a href="portfolio-4.html">Portfolio Col 4</a></li>
                                    </ul>
                                </li>
                                <li><a href="port-post.html">Portfolio Post Page</a></li>
                            </ul>
						</li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul><!-- end of #menu -->
                </nav>
            </div><!-- end of .wrap -->
        </section><!-- end of #nav -->
    	<section id="imageBox" class="headerImages">
        	<div class="image portfolio slides">
            	<ul>
                	<li class="slide1"></li>
                	<li class="slide2"></li>
                	<li class="slide3"></li>
                </ul>
                <hgroup class="headerMsg">
                    <h1>Portfolio</h1>
                    <h3>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h3>
                </hgroup>
			</div><!-- end of .image -->
        </section><!-- end of #imageBox -->
    </header><!-- end of #header -->
    
    <section id="content">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a> &raquo;</li>
            <li><a href="#">Portfolio</a> &raquo;</li>
            <li><a href="#">Portfolio (4 Column QuickSand)</a></li>
        </ul>
        
        <article class="portMessage">
        	<h2>
            	We design and develop beautiful and intuitive web apps and sites. And finally, we're also passionate about pixel perfect design and semantic clean codes.
            </h2>
        </article>
        
        <ul id="port" class="portCol2 addMasonry transitions-enabled">
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/1.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/1.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Illustration of a Tent Beside Lake</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/2.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/2.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Retro Monster Artwork</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/3.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/3.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Programmatically Drawing 300</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/4.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/4.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Mini Caravan for Tom</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/5.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/5.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Flying Lovers Promotional Flyer</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/6.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/6.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Soft &amp; Cute Teddy Face</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/7.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/7.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Strongest Character Design</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        	<li class="mb">
            	<figure class="thumb">
                	<a href="assets/portfolio/large/8.jpg" rel="prettyPhoto" title="Portfolio Item Large Preview">
                    	<img src="assets/portfolio/col2/8.jpg" class="border" height="190" width="190" alt="Portfolio Item"/>
                    </a>
                </figure>
                <h3><a href="#">Slumdog Boy Father</a></h3>
                <ul class="meta">
                	<li>
                    	<a href="#" title="Service Type">3D Modeling</a>
                        <span>&frasl;</span>
                        <a href="#" title="Client">Chase Inc</a>
					</li>
                    <li class="link"><a href="#">Live Site</a></li>
                </ul>
                <p>	
                	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <a href="#" class="btn">Project Details</a>
            </li>
        </ul><!-- end of #port4 -->

        <ul class="pager">
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
        </ul><!-- end of .pager -->

        <div id="clients">
        	<div class="stHead"><h4>Some of Our Clients</h4></div>
			<ul>
            	<li>
                	<img src="assets/clients/1.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/6.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/3.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/4.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/2.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/5.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/7.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/8.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/9.png" height="130" width="130" alt="Client" />
                </li>
            	<li>
                	<img src="assets/clients/10.png" height="130" width="130" alt="Client" />
                </li>
            </ul>
        </div><!-- end of #clients -->

    </section><!-- end of #content -->
    
    <footer id="footer">
    	<div class="top">
        	<div class="wrap">
                <section class="cols">
                    <div class="oneThird">
                        <div class="stHead"><h2>Quick Links</h2></div>
                        <div class="col2Links">
                            <ul class="links">
                                <li><a href="#">Graphics Design</a></li>
                                <li><a href="#">Character Design</a></li>
                                <li><a href="#">Animation</a></li>
                                <li><a href="#">Character Modeling</a></li>
                                <li><a href="#">Web Designing</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Mobile Apps Design</a></li>
                            </ul><!-- end of .links -->
                            <ul class="links">
                                <li><a href="#">Mobile Apps Design</a></li>
                                <li><a href="#">Great User Experience</a></li>
                                <li><a href="#">Industry Standard</a></li>
                                <li><a href="#">Bulletin Board</a></li>
                            </ul><!-- end of .links -->
                        </div><!-- end of .col2Links -->
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>RECENT POSTS</h2></div>
                        <ul class="miniBlogList">
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb1.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                <p class="meta"><span>15 May, 2012</span><span>17 Comments</span></p>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                <p class="meta"><span>01 May, 2012</span><span>25 Comments</span></p>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb3.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                <p class="meta"><span>17 April, 2012</span><span>39 Comments</span></p>
                            </li>
                        </ul>
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>CONTACT US</h2></div>
                        <ul class="address">
                            <li class="street">153, Deisy Road, Northern Country Side,
    Ohio - 00000.</li>
                            <li class="phone">022-465-3548</li>
                            <li class="email"><a href="mailto:support@circle.com" rel="nofollow">support@circle.com</a></li>
                            <li class="skype"><a href="skype:circles_support?add" rel="nofollow">circles_support</a></li>
                        </ul><!-- end of .address -->
                        <div class="stHead"><h2>NEWSLETTER</h2></div>
                        <form id="nlForm" action="#" method="">
                            <legend style="display: none;">Newsletter Form</legend>
                            <label for="cemail">Email</label>
                            <input type="text" name="cemail" id="cemail" size="30" maxlength="50" />
                            <input type="submit" value="Subscribe">
                        </form>
                    </div><!-- end of .oneThird -->
                </section><!-- end of .cols -->
            </div><!-- end of .wrap -->
		</div><!-- end of .top -->
        <section class="bottom">
        	<div class="contents">
                <p class="copy">Copyright &copy; 2012, <a href="#">Circle</a>. All Rights Reserved.</p>
                <ul class="socialLinks">
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="dribbble"><a href="#">Dribbble</a></li>
                    <li class="flickr"><a href="#">Flickr</a></li>
                </ul><!-- end of socialLinks -->
            </div><!-- end of .contents -->
        </section><!-- end of .bottom -->
    </footer><!-- end of #footer -->

<!-- JavaScript Libraries and Codes -->
    <!-- the jQuery ligrary -->
	<script src="files/codes/js/jquery-1.7.1.min.js"></script>
	<!-- jQuery Cycle plugin -->
    <script style="display: none;" src="files/codes/js/jquery.cycle.all.min.js"></script>
	<!-- jQuery Quicksand plugin -->
    <script style="display: none;" src="files/codes/js/jquery.quicksand.js"></script>
	<!-- jQuery prettyPhoto plugin -->
    <script style="display: none;" src="files/codes/js/jquery.prettyPhoto.js"></script>
	<!-- jQuery twitter plugin -->
    <script style="display: none;" src="files/codes/js/jquery.tweet.js"></script>

	<!-- This file starts/initializes all js functionalities throughout
    	this site and houses some more scripts or libraries. -->
    <script style="display: none;" src="files/codes/js/init.js"></script>

<!-- Weird IE specific codes -->
	<!--[if lt IE 9]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie.css" media="all" />
	    <script type="text/javascript" src="files/codes/js/ie.js"></script>
    <![endif]-->
	<!--[if IE 7]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie7.css" media="all" />
    <![endif]-->
    <!--[if IE 8]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie8.css" media="all" />
    <![endif]-->
    <!--[if IE 9]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie9.css" media="all" />
    <![endif]-->

    <link rel="stylesheet" id="colors" href="files/codes/css/colors/orange-green.css" type="text/css" />

</body>
</html>