# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

# To verify whether the this job got executed successfully or not, check the /var/log/cron file, 
# which contains information about all the cron jobs that gets executed in your system.
                                                                      
# crontab -e to edit crontab
# crontab syntax:
# mm hh dd MM ss script
# mm = minuto(0-59)
# hh = hora(0-23)
# dd = dia(1-31)
# MM = mes(1-12)
# ss = dia_da_semana(0-6)

SHELL=/bin/bash
0 1 * * * { $SHELL clear-cache.sh && $SHELL cache-analises.sh; } >> /var/log/radar/radar-cron.log 2>&1
0 4 * * 0 source ~/.profile; source dump-radar.sh >> /var/log/radar/radar-cron.log 2>>&1


