#navNLogo{
        border-color: #000;
        height: 100px;
}

#logo{margin: -21px 40px -21px 0;}

#searchForm input[type="text"],
#nlForm input[type="text"]{
        background: #111;
        border-color: #000;
}

#nlForm label{top: 23px;}

#searchForm label{top: 32px;}

.miniBlogList .meta span{border-color: #333;}

.archiveList ul{border-color: #aaa;}

.searchResults .meta{background-color: #ddd;}

.post .topMeta li,
.blogList .wrap .meta li,
.blogList .btmMeta ul li{border-color: #333;}

#commentForm input[type="text"],
#commentForm textarea,
#cntForm input[type="text"],
#cntForm textarea{
        background-color: #eee;
        border-color: #999;
}

#commentForm input[type="text"]:focus,
#commentForm input[type="text"]:hover,
#commentForm textarea:focus,
#commentForm textarea:hover,
#cntForm input[type="text"]:focus,
#cntForm input[type="text"]:hover,
#cntForm textarea:focus,
#cntForm textarea:hover{
        background-color: #fff;
        border-color: #666;
}

#portCntrls li a,
#btmPortCntrls li a{
        font-size: 12px;
        text-indent: -999px;
}
