#--no-binary Django==1.4.5 # source install allows template loading in older django installs
Django==1.4.5
psycopg2==2.5.4
argparse==1.2.1
distribute==0.7.3
numpy==1.7.1
svgwrite==1.1.2
wsgiref==0.1.2
mock==1.0.1
South==1.0.1
coverage==3.7.1
celery==3.1.17
feedparser==5.2.1
elasticsearch<1.0.0
ipython<6.0
codacy-coverage
coveralls
