{%extends "base.html"%}

{% block title %}
   Página Inexistente 
{% endblock title %}

{% block extrascripts %}
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Radar Parlamentar
{% endblock nomepagina %}

{% block pagedesc %}
    Página Inexistente
{% endblock pagedesc %}

{% block breadcrumbs %}    
   
    <li><a href="/pagina_inexistente">Página Inexistente</a></li>	 	
	
{% endblock breadcrumbs %}

{% block content %}
    <article class="aboutDesc">
        
	
	 	<p>
	    <h3>Página Inexistente</h3>
        A página solicitada não existe.
        <h4><a href= "/index" >Volte para página principal do Radar Parlamentar</a></h4>
	   
        </p>

	</article>
{% endblock content %}

{% block extrascriptsend %}
    menuActive('sobre_nos');   
{% endblock extrascriptsend %}

{% block extrajsend %}
{% endblock extrajsend %}
