
{% extends "base.html" %}

{% block title %}
    Faça sua Análise - {{casa_legislativa.nome}}
{% endblock title %}

{% block extrascripts %}
    <link rel="stylesheet" href="/static/files/codes/css/radar_d3_graph.css" type="text/css" />
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Faça sua Análise
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente afinidades partidárias das casas legislativas
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/analises/">Análises</a> &raquo;</li>
    <li><a href="/analises/analise/{{casa_legislativa.nome_curto}}">{{casa_legislativa.nome}}</a></li>
{% endblock breadcrumbs %}

{% block content %}
    <h3> {{casa_legislativa.nome}}</h3>
    <article id="descricao" class="inwrap">
        <b>{{num_votacao}} votações</b> consideradas nesta análise.<br/><br/>
        Dados utilizados nesta análise disponíveis para <a href="/static/sqlite/{{casa_legislativa.nome_curto}}.db">download aqui</a> (atualizados em {{casa_legislativa.atualizacao}}).<br/>    
        <aside id="legenda" class="list">
            <ul class="legenda">
                {% for partido in partidos %}
                    <li class="botao_partido" id="list_cor_{{partido.numero}}">{{partido.numero}} | {{partido.nome}}</li>
                {% endfor %}
        <b>Clique sobre os partidos</b> para explodi-los e ver os parlamentares!</br>
        <aside id="legenda" class="list" style="width:300px">
            <p align="left"><b>LEGENDA</b></p>
            <ul class="legend">
            </ul>
        </aside>
        <div style="width:700px">
        <figure id="animacao"><center><img id="loading" src="/static/files/images/spinner.gif"></img></center></figure>
        </div>

        <aside id="como-funciona" style="margin: 0 90px 10px 20px; padding: 10px; background-color: rgba(220,220,220,0.7); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">
            <h4>Entenda o gráfico</h4>
            <p>Quanto mais próximo dois parlamentares estão no gráfico, mais parecido eles votaram no período exibido.</br>
            O centro da circunferência de um partido é o "centróide" de seus parlamentares.</br>
            Os eixos não possuem significados, apenas as distâncias.</br>
            A animação entre dois períodos é só um efeito bacana, o que vale é a "foto" de cada período.</br>
            A movimentação de um parlamentar ao longo do tempo em relação plano de fundo não possue significado,
            o que vale é a sua distância em relação aos outros parlamentares.</br>
            Os cálculos são feitos utilizando uma técnica de análise de dados chamada de Análise de Componentes Principais.  
            </p>
        </aside>
        
    </article>
        <div style="clear:right"/>
{% endblock content %}

{% block extrajsend %}
    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <script src="/static/files/codes/js/d3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
        <script type="text/javascript">
          if (typeof d3 === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/d3.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
    <script src="/static/files/codes/js/radar_plot.js"></script>log(d); 
{% endblock extrajsend %}

{% block extrascriptsend %}
    menuActive("analises");
  $(document).ready(function() {
    Plot.initialize('{{casa_legislativa.nome_curto}}')
  });
{% endblock extrascriptsend %}

