{% extends "base.html" %}

{% block title %}
    Gênero
{% endblock title %}

{% block extrascripts %}
    <link rel="stylesheet" href="/static/files/codes/css/radar_d3_graph.css" type="text/css" />
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Gênero e Participação
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente participação de mulheres e homens na política
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/genero/">Gênero</a> &raquo;</li>
    <li><a href="/genero/perfil/partidos">Perfil dos Partidos</a></li>
{% endblock breadcrumbs %}

{% block content %}


<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  width: 200px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.barraM{
  fill: #aaaaaa;
}
.barraM:hover {
  fill: #777777 ;
}
.barraF{
  fill: #850000;
}
.barraF:hover {
  fill: #440000;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc !important;
  -webkit-border-radius: 8px !important;
     -moz-border-radius: 8px !important;
          border-radius: 8px !important;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 522px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

</style>

    <h3>Perfil dos Partidos</h3>
    <article id="descricao" class="inwrap">
        Aqui é apresentada a animação das análises realizadas com as votações da.<br/>
        <h4 style="margin-bottom:5px;">Como Funciona?</h4>
	<!--
        <aside id="como-funciona" style="margin: 0 90px 10px 20px; padding: 10px; background-color: rgba(220,220,220,0.7); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;">
            A análise, realizada em períodos de dois anos, inicia-se no primeiro período disponibilizado pela casa legislativa e é animada para os períodos seguintes.<br/>
            No lado superior direito da visualização é possível observar o período de análise que está sendo mostrado, e o logo abaixo o número de votações nominais utilizadas para a análise do mesmo.<br/>
            Para visualizar um determinado período passe o mouse sobre o período, na horizontal.<br/>
            À direita do gráfico, você encontra a legenda com o número dos partidos e a sigla da legenda.<br/>
            O tamanho de cada partido no gráfico representa a quantidade de parlamentares que cada partido possui.
        </aside>
-->
        Veja as movimentações e tire suas próprias conclusões.<br/>
        Quantidade de votações considerada nesta análise: <b>{{num_votacao}}</b> votações.<br/><br/>
        Os dados da {{casa_legislativa.nome}} utilizados para análise estão disponíveis para <a href="/static/sqlite/{{casa_legislativa.nome_curto}}.db">download aqui</a> (dados atualizados em {{casa_legislativa.atualizacao}}).<br/>    
        <!--div id="form">
            <label for="periodos" ACCESSKEY="P">Período</label> <select id="periodos">
            </select>
            <button id="animar">Animar</button>
            <br/><br/>
        </div-->
	<div class="demo">
          <input class="typeahead" type="text" placeholder="Partido">
        </div>
        <aside id="legenda" class="list">
            <b>LEGENDA</b>
            <ul class="legenda">
                {% for partido in partidos %}
                    <li class="botao_partido" id="list_cor_{{partido.numero}}">{{partido.numero}} | {{partido.nome}}</li>
                {% endfor %}
            </ul>
        </aside>
        <figure id="animacao"><center><img id="loading" src="/static/files/images/spinner.gif"></img></center></figure>
    </article>
        <div style="clear:right"/>
{% endblock content %}

{% block extrajsend %}
    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <script src="/static/files/codes/js/d3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
        <script src="/static/files/codes/js/typeahead.min.js"></script>

    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
        <script src="/static/files/codes/js/typeahead.min.js"></script>
        <script type="text/javascript">
          if (typeof d3 === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/d3.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
    <script src="/static/files/codes/js/genero_historia_partidos.js"></script>
{% endblock extrajsend %}

{% block extrascriptsend %}
    menuActive("analises");
  $(document).ready(function() {
  });
{% endblock extrascriptsend %}

