{% extends "base.html" %}

{% block title %}
    Importadores - Coloque mais uma casa legislativa no Radar!
{% endblock title %}

{% block extrascripts %}
{% endblock extrascripts %}

{% block extrahead %}
    menuActive("analises");
{% endblock extrahead %}

{% block headerImgClass %}
    importadores
{% endblock headerImgClass %}

{% block nomepagina %}
    Importadores
{% endblock nomepagina %}

{% block pagedesc %}
    <!-- nada aqui -->
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index">Home</a> &raquo;</li>
    <li><a href="/importadores">Importadores</a></li>
{% endblock breadcrumbs %}

{% block content %}
        <article class="importadoresDesc">
            
        <p>Quer ver a análise da Assembléia Legislativa de seu estado ou da câmara dos vereadores de seu município no <strong>Radar Parlamentar</strong>?<br/>Se você é um desenvolvedor e a casa legislativa de seu interesse oferece dados abertos sobre suas votações, é fácil colocar essa casa no <strong>Radar</strong>! Basta criar um novo <strong>importador</strong>!</p>
            <p>Nossos gráficos são gerados a partir dos dados de votações de casas legislativas que temos em nosso banco de dados, os quais são fornecidos pela casa em questão. Contudo, os dados de cada casa legislativa possuem origens e formatos diferentes. Por exemplo, para a Câmara dos Deputados, nós acessamos os web services disponíveis, enquanto que para a Câmara Municipal de São Paulo processamos os XMLs que são disponibilizados no site dessa casa. Portanto, para cada casa legislativa pode existir um processo de importação bem diferente dos demais. Outras casas legislativas poderiam disponibilizar dados em arquivos csv, xml, 'bancos de dados' etc.</p>
            <p>No <strong>Radar Parlamentar</strong>, cada casa legislativa possui um <strong>importador</strong> associado a ela. Um importador é um módulo do <strong>Radar</strong> responsável por importar os dados abertos sobre votações de uma determinada casa legislativa para o nosso banco de dados. Essa estrutura de importador pode ser vista como uma estrutura de "plugin", pois, após um desenvolvedor criar um importador, basta executar esse importador no ambiente de produção do Radar Parlamentar para que a análise da nova casa legislativa seja acessível no site do <strong>Radar Parlamentar</strong>.</p>    
        <p>Para fazer um novo importador, basta criar um módulo em Python que seja capaz de ler os dados abertos da casa legislativa de interesse e escrever os dados em nosso banco de dados. Entre em contato conosco em <a href="mailto:radarparlamentar@polignu.org">radarparlamentar@polignu.org</a> se você deseja se envolver!<p>

        </article><!-- end of .ourTeam -->
{% endblock content %}
{% block extrascriptsend %}
    menuActive("analises");
{% endblock extrascriptsend %}
