{% extends "base.html" %}

{% block title %}
Radar Parlamentar
{% endblock title%}

{% block headerAttr %}
class = "largeSlides"
{% endblock headerAttr %}

{% block extrascripts %}
    <script style="display: none;">
        /* Cycle plugin for home page */
        $(document).ready(function(){
            var onBefore = function(curr, next, opts, fwd) {
                jQuery(next).find('.slideMsgs.double').find('h1').css({'display':'none', 'left':'-999px', 'opacity': 0});
                jQuery(next).find('.slideMsgs.double').find('h4').css({'display':'none', 'left':'-999px', 'opacity': 0});
            }

            var onAfter = function(curr, next, opts, fwd) {
                var width = $(document).width() - 980;
                var h1Height = jQuery(this).find('.slideMsgs.double').find('h1').height(true);
                jQuery(this).find('.slideMsgs.double').find('h1').css('display', 'block').delay(100).animate({'left': ((width / 2) + 70) +'px', 'opacity': 1}, 400, 'easeInQuad');
                jQuery(this).find('.slideMsgs.double').find('h4').css({display: 'block', top: h1Height + 'px'}).delay(400).animate({'left': ((width / 2) + 70) +'px', 'opacity': 1}, 250, 'easeInQuad');
            }

            if ($('#slides').length > 0){
                $('#slides').cycle({
                    fx: 'scrollHorz',
                    speed: 500,
                    timeout: 5000,
                    pause: 1,
                    rev: 1,
                    randomizeEffects: false,
                    easing: 'easeInQuad', //jquery.easing library/plugin is required for this functionality
                    next: '#sliderCtrls .next',
                    prev: '#sliderCtrls .prev',
                    before: onBefore,
                    after: onAfter,
                    pager: '',
                    cleartypeNoBg: true
                });
            }
            /* slider controls position inside the page*/
            var left = Math.ceil((($(document).width()) - 980) / 2);
            $('#sliderCtrls').css('left', left+'px');
        });
    </script>
{% endblock extrascripts %}

{% block imageBox %}
        <section id="imageBox">
            <ul id="slides">
                <li data-slide="1">
                    <div class="slideMsgs double">
                        <h1>Radar Parlamentar</h1>
                        <h4>
                            A tecnologia a serviço do cidadão / cidadã - uma ferramenta para análise partidária das casas legislativas.
                        </h4>
                    </div>
                </li>
                <li data-slide="2">
                    <div class="slideMsgs double">
                        <h1>Radar Parlamentar</h1>
                        <h4>
                            Junte-se à campanha "Voto Aberto: Eu Apoio!" e ajude a transformar seu país.
                        </h4>
                    </div>
                </li>
                <li data-slide="3">
                    <div class="slideMsgs double">
                        <h1>Radar Parlamentar</h1>
                        <h4>
                            A tecnologia a serviço do cidadão / cidadã - uma ferramenta para análise partidária das casas legislativas.
                        </h4>
                    </div>
                </li>
            </ul>
            <div id="sliderCtrls">
                <a href="#" class="prev">Prev</a>
                <a href="#" class="next">Next</a>
            </div>
        </section><!-- end of #imageBox -->
    </header><!-- end of #header -->
{% endblock imageBox %}

{% block content %}
	    <div class="promoMsg">
	            <h2>
	                O Radar Parlamentar é um aplicativo que ilustra as semelhanças entre partidos políticos com base na análise matemática dos dados de votações que ocorrem na casa legislativa. As semelhanças são apresentadas em um gráfico bidimensional, em que círculos representam partidos ou parlamentares, e a distância entre esses círculos representa o quão parecido os mesmos votam.
	            </h2>
        </div>

        <div class="stHead"><h4>Casas já analisadas</h4></div>

        <section class="cols caseStd">
    	    <div>
                <h3><a href="/analises/analise/sen/">Senado</a></h3>
                <div class="inwrap">
                    <a href="/analises/analise/sen/">
                        <img src="/static/assets/sen.png" class="border" height="190" width="200" alt="Case Studies" />
                    </a>
                </div><!-- end of .inwrap -->
            </div><!-- end of .half -->
            <div>
                <h3><a href="/analises/analise/cdep/">Câmara dos Deputados</a></h3>
                <div class="inwrap">
                    <a href="/analises/analise/cdep/">
                        <img src="/static/assets/cdep.png" class="border" height="190" width="200" alt="Case Studies" />
                    </a>
                </div><!-- end of .inwrap -->
            </div><!-- end of .half -->
            <div>
                <h3><a href="/analises/analise/cmsp/">Câmara Municipal de São Paulo</a></h3>
                <div class="inwrap">
                    <a href="/analises/analise/cmsp/">
                        <img src="/static/assets/cmsp.png" class="border" height="190" width="200" alt="Case Studies" />
                    </a>
                </div><!-- end of .inwrap -->
            </div><!-- end of .half -->
        </section><!-- end of .cols -->
       
       
       <div class="stHead"><h4>Contribua você também!</h4></div>
       <section> 
       <div>
            Radar Parlamentar é software livre licenciado sob a <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Afero GPL v3</a>.</br>
            Acesso o <a href="https://github.com/leonardofl/radar_parlamentar">código fonte</a>.
            Participe de nossa lista de discussão: <a href="mailto:radar@polignu.org" rel="nofollow">radar@polignu.org</a>.</br>
             <a href="https://github.com/leonardofl/radar_parlamentar">
             <img src="/static/assets/github.png"  alt="Código fonte no Github" /></a>
        </div>

    </section><!-- end of #content -->
{% endblock content %}

    <footer id="footer">
        <div class="top">
            <div class="wrap">
                <section class="cols">
                    <div class="oneThird">
                        <div class="stHead"><h2>Links</h2></div>
                        <div class="col2Links">
                            <ul class="links">
                                <li><a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">Lei 12527/2011 - Lei de Acesso a Informações Públicas</a></li>
                                <li><a href="http://dados.gov.br/">Portal Brasileiro de Dados Abertos</a></li>
                                <li><a href="http://polignu.org/">PoliGNU</a></li>
                            </ul><!-- end of .links -->
                            <ul class="links">
                                <li><a href="http://www.camara.sp.gov.br/index.php?option=com_wrapper&view=wrapper&Itemid=219">Base de Dados da Câmara Municipal de São Paulo</a></li>
                                <li><a href="http://www2.camara.gov.br/transparencia/dados-abertos">Base de Dados da Câmara dos Deputados</a></li>
                                <li><a href="http://www.senado.gov.br/transparencia/dadosAbertos/dadosAbertos.asp">Base de Dados do Senado</a></li>
                            </ul><!-- end of .links -->
                        </div><!-- end of .col2Links -->
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>Primeiros Posts</h2></div>
                        <ul class="miniBlogList">
                            <li>
                                <a href="#">
                                    <img src="/static/assets/blogs/mini-list/b-thumb1.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="http://polignu.org/projeto/camaraws/camaraws3">Camaraws: Análise de Partidos na Câmara dos Deputados</a></h5>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="http://polignu.org/projeto/camaraws/pca">Análise gráfica das votações da câmara dos deputados</a></h5>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/assets/blogs/mini-list/b-thumb3.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="http://polignu.org/projeto/camaraws/análise-automatizada-da-semelhança-entre-os-partidos-políticos">Análise automatizada da semelhança entre os partidos políticos</a></h5>
                            </li>
                        </ul>
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>CONTATE-NOS</h2></div>
                        <ul class="address">
<!--                            <li class="street">Av. Prof. Almeida Prado, trav. 2, n.83, sala S-33 - Edif. de Eng. Civil - Cid. Universitária - São Paulo - SP 05508-900 Brasil</li>
                            <!-- <li class="phone">+55-11-3091-5690</li> -->
                            <li class="email"><a href="mailto:radarparlamentar@polignu.org" rel="nofollow">radarparlamentar@polignu.org</a></li>
                <li class="email"><a href="mailto:radar@polignu.org" rel="nofollow">radar@polignu.org (lista aberta)</a></li>
                            <!-- <li class="skype"><a href="skype:circles_support?add" rel="nofollow">circles_support</a></li> -->
                        </ul><!-- end of .address -->
                        <div class="stHead"></div>
                    </div><!-- end of .oneThird -->
                </section><!-- end of .cols -->
            </div><!-- end of .wrap -->
        </div><!-- end of .top -->
        <section class="bottom">
            <div class="contents">
                <p class="copy">Copyright &copy; 2012 | <a href="http://www.gnu.org/licenses/agpl">Alguns Direitos Reservados: Affero GPL</a> | <a href="https://github.com/leonardofl/radar_parlamentar">Código Fonte deste projeto</a></p>
                <ul class="socialLinks">
                    <li class="twitter"><a href="https://twitter.com/#!/RadarParlamento">Twitter</a></li>
                    <li class="facebook"><a href="https://www.facebook.com/RadarParlamentar">Facebook</a></li>

                    <!-- <li class="dribbble"><a href="#">Dribbble</a></li>
                    <li class="flickr"><a href="#">Flickr</a></li> -->

                </ul><!-- end of socialLinks -->
            </div><!-- end of .contents -->
        </section><!-- end of .bottom -->
    </footer><!-- end of #footer -->

<!-- Weird IE specific codes -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie.css" media="all" />
        <script src="files/codes/js/ie.js"></script>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie7.css" media="all" />
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie8.css" media="all" />
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie9.css" media="all" />
    <![endif]-->

    <link rel="stylesheet" id="colors" href="/static/files/codes/css/colors/orange-green.css" type="text/css" />

{% if request.get_host != '127.0.0.1:8000' and  request.get_host != 'localhost:8000' %}
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11505683-7']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
{% endif %}
</body>
</html>
