<!DOCTYPE html>
<html lang="pt-br" class="no-js">
<head>
    <meta charset="utf-8"/>
    <meta content="text/html"/>
    <meta name="distribution" content="global"/>
    <meta name="robots" content="follow, all"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="revisit-after" content="10 days"/>
    <meta name="keywords" content="política, análise matemática, parlamentar, votações, partidos, radar parlamentar, polignu" />
    <meta name="description" content="A tecnologia a serviço do cidadão - uma ferramenta para análise partidária das casas legislativas."/>

    <title>Radar Parlamentar</title>

    <link rel="shortcut icon" href="/static/assets/favicon1.ico"/>

    <!-- CSS Libraries and codes -->
    <link rel="stylesheet" type="text/css" href="/static/files/codes/css/reset.css" />
    <link rel="stylesheet" href="/static/files/codes/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/files/codes/css/prettyPhoto.css" type="text/css" />

    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <!-- Modernizr for HTML5 -->
        <script src="/static/files/codes/js/modernizr.min.js"></script>
        <!-- the jQuery library -->
        <script src="/static/files/codes/js/jquery.min.js"></script>
    {% else %}
        <!-- Modernizr for HTML5 -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script type="text/javascript">
          if (typeof Modernizr === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/modernizr.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
        <!-- the jQuery ligrary -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
          if (typeof jQuery === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/jquery.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
</head>
<body>
    <header id="header"  class="largeSlides">
        <a href="/sim-voto-aberto"><img alt="Voto aberto: Eu apoio!" src="/static/assets/votoaberto/vaberto_branco.svg" style="position: absolute; top: 12px; right: 0; border: 0; z-index:1000;"></a>
        <div class="bar"></div><!-- the top border -->
        <section id="navNLogo">
            <div class="wrap">
                <div id="logo">
                    <a href="#">
                        <img src="/static/assets/logo_radar.svg" alt="Logo Radar Parlamentar" style="width: 150px; height: 110px; position:absolute; top:4px;">
                    </a>
                </div>
                <nav>
                    <ul id="menu">
                        <li id="botao_home" class="active"><a href="/">Home</a></li>
                        <li id="botaco_origem">
                            <a href="/origem">A Origem</a>
                          <!--<ul>
                                <li>
                                    <a href="#">Home Pages</a>
                                    <ul>
                                        <li class="active"><a href="index.html">Default</a></li>
                                        <li><a href="index-port.html">Featured Portfolio</a></li>
                                        <li><a href="index-2.html">Style 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Home Sliders</a>
                                    <ul>
                                        <li class="active"><a href="index.html">Drag Left/Right [Cycle] 2 Box Msg</a></li>
                                        <li><a href="index-port.html">Drag Left/Right [Cycle] 1 Box Msg</a></li>
                                        <li><a href="index-3.html">Fade [Cycle] 2 Box Msg</a></li>
                                        <li><a href="index-2.html">Fade [Cycle] 1 Box Msg</a></li>
                                        <li><a href="index-box-elastic.html">Boxed Slides [Elastic]</a></li>
                                        <li><a href="index-box-nivo.html">Boxed Slides [Nivo]</a></li>
                                        <li><a href="index-box-cycle.html">Boxed Slides [Cycle]</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Page</a></li>
                                <li><a href="price-boxes.html">Price Boxes</a></li>
                                <li><a href="archive.html">Archives</a></li>
                                <li><a href="search-results.html">Search Results</a></li>
                                <li><a href="404.html">404 - Error Page</a></li>
                                <li>
                                    <a href="#">Column Variations / Layout</a>
                                    <ul>
                                        <li><a href="columns.html">Columns Full Width</a></li>
                                        <li><a href="columns-sb.html">Columns with Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="typography.html">Typography</a></li>
                            </ul> -->

                        </li>
                        <li id="analises">
                            <a style="cursor: default;">Faça sua análise</a>
                            <ul>
                                <li><a href="/analises/analise/cmsp">Câmara Municipal de São Paulo</a></li>
                                <li><a href="/analises/analise/cdep">Câmara dos Deputados</a></li>
                                <li><a href="/analises/analise/sen">Senado</a></li>
                                <li><a href="/grafico_alternativo">Gráfico em desenvolvimento</a></li>
                                <li><a href="/importadores">Acrescenta mais uma!</a></li>
                            </ul>
                        </li>
                        <li id="genero">
                            <a href="/genero/">Gênero</a>
                            <ul>
                                <li id="perfil_legis"><a href="/genero/perfil/legislaturas/">Perfil Legislaturas</a></li>
                                <li id="perfil_part"><a href="/genero/perfil/partido/">Perfil Partido</a></li>
                                <li id="comp_part"><a href="/genero/perfil/partido/comparacao/">Comparação Perfis Partidários</a></li>
                                <li id="tematicas_part"><a href="/genero/tematica/nuvem/">Análise: Temáticas</a></li>
                                <li id="tematicas_part"><a href="/genero/tematica/partido/">Análise: Temáticas Partido</a></a></li>
                                <li id="tematicas_legis"><a href="/genero/tematica/legislador/">Análise: Temáticas Legislador(a)</a></li>
                            </ul>
                        </li>
                        <li id="botao_votoaberto"><a href="/sim-voto-aberto/">Voto Aberto</a></li>
                        <li id="sobre_nos">				
				<a style="cursor: default;">Sobre Nós</a>
				<ul>
					<li><a href="/ogrupo">O Grupo</a></li>
					<li><a href="/premiacoes">Premiações</a></li>			
				</ul>
			</li>
                    </ul><!-- end of #menu -->
                </nav>
            </div><!-- end of .wrap -->
        </section><!-- end of #nav -->
        <section id="imageBox">
            <ul id="slides">
                <li data-slide="1">
                    <div class="slideMsgs double">
                        <h1>Radar Parlamentar</h1>
                        <h4>
                            A tecnologia a serviço do cidadão / cidadã - uma ferramenta para análise partidária das casas legislativas.
                        </h4>
                    </div>
                </li>
                <li data-slide="2">
                    <div class="slideMsgs double">
                        <h1>Radar Parlamentar</h1>
                        <h4>
                            Junte-se à campanha "Voto Aberto: Eu Apoio!" e ajude a transformar seu país.
                        </h4>
                    </div>
                </li>
                <li data-slide="3">
                    <div class="slideMsgs double">
                        <h1>Radar Parlamentar</h1>
                        <h4>
                            A tecnologia a serviço do cidadão / cidadã - uma ferramenta para análise partidária das casas legislativas.
                        </h4>
                    </div>
                </li>
            </ul>
            <div id="sliderCtrls">
                <a href="#" class="prev">Prev</a>
                <a href="#" class="next">Next</a>
            </div>
        </section><!-- end of #imageBox -->
    </header><!-- end of #header -->

    <section id="content">
        <div class="promoMsg">
            <h2>
                O Radar Parlamentar é um aplicativo que determina "semelhanças" entre partidos políticos baseado na análise matemática dos dados de votações de projetos de lei na casa legislativa. Essas semelhanças são apresentadas em um gráfico bidimensional, em que círculos representam partidos, e a distância entre esses círculos representa o quão parecido esses partidos votam.
            </h2>
            <!--a href="#" class="actBtn">Explore Circle</a-->
        </div><!-- end of .promoMsg -->

        <!--hr class="elDvr" />

        <ul class="promo3">
            <li>
                <a href="#">
                    <img src="assets/icons/leaf.png" height="70" width="70" alt="Leaf">
                </a>
                <h4><a href="#">Awesome Graphics Design</a></h4>
                <p>
                    Pellentesque habitant quam morbi tristique senectus et netus et malesuada tristique fames. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                </p>
            </li>
            <li>
                <a href="#">
                    <img src="assets/icons/cup.png" height="70" width="70" alt="Cup">
                </a>
                <h4><a href="#">Stunning Character Animation</a></h4>
                <p>
                    Tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend.
                </p>
            </li>
            <li>
                <a href="#">
                    <img src="assets/icons/bag.png" height="70" width="70" alt="Leather Bag">
                </a>
                <h4><a href="#">Creative Corporate Branding</a></h4>
                <p>
                    Habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est mauris.
                </p>
            </li>
        </ul><!-- end of .promo3 -->

        <div class="stHead"><h4>Casas já analisadas</h4></div>

        <section class="cols caseStd">
            <div class="half">
                <h3><a href="/analises/analise/cdep/">Câmara dos Deputados</a></h3>
                <p class="meta">Categoria: <!--a href="#"-->nível federal<!--/a--></p>
                <div class="inwrap">
                    <a href="/analises/analise/cdep/">
                        <img src="/static/assets/cdep.png" class="border" height="190" width="200" alt="Case Studies" />
                    </a>
                    <p>
                        A disponibilização pela Câmara dos Deputados de dados abertos na Internet sobre as votações das proposições que ali tramitam inspirou o PoliGNU a vasculhar e analisar esses dados, criando o projeto CamaraWS no início deste ano. Cinco meses depois, o escopo do projeto aumentou e ele foi rebatizado como Radar Parlamentar.
                    </p>
                    <a href="/analises/analise/cdep/" class="btn">Faça sua Análise</a>
                </div><!-- end of .inwrap -->
            </div><!-- end of .half -->
            <div class="half">
                <h3><a href="/analises/analise/cmsp/">Câmara Municipal de São Paulo - CMSP</a></h3>
                <p class="meta">Categoria: <!--a href="#"-->nível municipal<!--/a--></p>
                <div class="inwrap">
                    <a href="/analises/analise/cmsp/">
                        <img src="/static/assets/cmsp.png" class="border" height="190" width="200" alt="Case Studies" />
                    </a>
                    <p>
                        A Lei de Acesso a Informações Públicas entrou em vigor em 16 de maio de 2012, e diversos órgãos públicos responderam positivamente esforçando-se para melhor dispor seus dados. Assim, a CMSP promove o 1o Hackathon, uma maratona hacker que visa estimular a elaboração de aplicativos que facilitem a leitura e o entendimento dos Dados Abertos da CMSP pelos seus/suas cidadãos/cidadãs.
                    </p>
                    <a href="/analises/analise/cmsp/" class="btn">Faça sua Análise</a>
                </div><!-- end of .inwrap -->
            </div><!-- end of .half -->
	    <div class="half">
                <h3><a href="/analises/analise/sen/">Senado</a></h3>
                <p class="meta">Categoria: <!--a href="#"-->nível federal<!--/a--></p>
                <div class="inwrap">
                    <a href="/analises/analise/sen/">
                        <img src="/static/assets/sen.png" class="border" height="190" width="200" alt="Case Studies" />
                    </a>
                    <p>
                        A disponibilização pelo Senado de dados abertos na Internet sobre as votações das proposições que ali tramitam fez com que ele fosse a terceira casa a ser inserida na análise de dados do Radar Parlamentar. 
                    </p>
                    <a href="/analises/analise/sen/" class="btn">Faça sua Análise</a>
                </div><!-- end of .inwrap -->
            </div><!-- end of .half -->		
        </section><!-- end of .cols -->

        <section class="cols">
            <div class="half">
                <div class="stHead"><h4>Lei de acesso a informações públicas</h4></div>
                <div id="feedback">
                    <div class="ctrls">
                        <a href="#" class="prev">Prev</a>
                        <a href="#" class="next">Next</a>
                    </div><!-- end of .ctrls -->
                    <div class="wrap">
                        <div class="contents">
                            <ul>
                                <li>
                                    <blockquote>
                                        <p>
                                            Subordinam-se ao regime desta Lei: órgãos públicos integrantes da administração direta dos Poderes Executivo, Legislativo e Judiciário; Ministério Público; autarquias; fundações e empresas públicas; sociedades de economia mista e demais entidades controladas direta ou indiretamente pela União, Estados, Distrito Federal e Municípios.
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Lei nº 12527/2011
                                    </cite>
                                </li>
                                <li>
                                    <blockquote>
                                        <p>
                                            Aplicam-se as disposições desta Lei, no que couber, às entidades privadas sem fins lucrativos que recebam, para realização de ações de interesse público, recursos públicos diretamente do orçamento ou mediante subvenções sociais, contrato de gestão, termo de parceria, convênios, acordo, ajustes ou outros instrumentos congêneres.
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Lei nº 12527/2011
                                    </cite>
                                </li>
                <li>
                                    <blockquote>
                                        <p>
                                            É dever do Estado garantir o direito de acesso à informação, que será franqueada, mediante procedimentos objetivos e ágeis, de forma transparente, clara e em linguagem de fácil compreensão.
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Lei nº 12527/2011
                                    </cite>
                                </li>
                <li>
                                    <blockquote>
                                        <p>
                                            Cabe aos órgãos e entidades do poder público assegurar a gestão transparente da informação, propiciando amplo acesso a ela e sua divulgação; e a proteção da informação, garantindo-se sua disponibilidade, autenticidade e integridade.
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Lei nº 12527/2011
                                    </cite>
                                </li>
                                <li>
                                    <blockquote>
                                        <p>
                                            A negativa de acesso às informações objeto de pedido formulado aos órgãos e entidades quando não fundamentada, sujeitará o responsável a medidas disciplinares, nos termos do art. 32 da Lei nº 12527/2011.
                                        </p>
                                    </blockquote>
                                    <cite>
                                        http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm
                                    </cite>
                                </li>
                                <li>
                                    <blockquote>
                                        <p>
                                            É dever dos órgãos e entidades públicas promover, independentemente de requerimentos, a divulgação em local de fácil acesso, no âmbito de suas competências, de informações de interesse coletivo ou geral por eles produzidas ou custodiadas.
                                        </p>
                                    </blockquote>
                                    <cite>
                                        Lei nº 12527/2011
                                    </cite>
                                </li>


                            </ul>
                        </div><!-- end of .contents -->
                    </div><!-- end of .wrap -->
                </div><!-- end of .#feedback -->
            </div><!-- end of .half -->
            <!--div class="half">
                <div class="stHead"><h4>Últimos Tweets</h4></div>
                <div id="tweets">
                    <div class="ctrls">
                        <a href="#" class="prev">Anterior</a>
                        <a href="#" class="next">Próximo</a>
                    </div><!-- end of .ctrls -->
                    <div class="wrap">
                        <div class="contents">
                        </div><!-- end of .contents -->
                    </div><!-- end of .wrap -->
                </div><!-- end of .#tweets -->
            </div--><!-- end of .half -->
        </section><!-- end of .cols -->

    </section><!-- end of #content -->

    <footer id="footer">
        <div class="top">
            <div class="wrap">
                <section class="cols">
                    <div class="oneThird">
                        <div class="stHead"><h2>Links indicados</h2></div>
                        <div class="col2Links">
                            <ul class="links">
                                <li><a href="http://www.camara.sp.gov.br/index.php?option=com_content&view=article&id=9488&Itemid=219">Hackathon da Câmara Municipal de São Paulo</a></li>
                                <li><a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">Lei 12527/2011 - Lei de Acesso a Informações Públicas</a></li>
                                <li><a href="http://dados.gov.br/">Portal Brasileiro de Dados Abertos</a></li>
                                <li><a href="http://polignu.org/">PoliGNU</a></li>
                                <li><a href="http://thacker.com.br/">Transparência Hacker</a></li>
                            </ul><!-- end of .links -->
                            <ul class="links">
                                <li><a href="http://www.camara.sp.gov.br/index.php?option=com_wrapper&view=wrapper&Itemid=219">Base de Dados da Câmara Municipal de São Paulo</a></li>
                                <li><a href="http://www2.camara.gov.br/transparencia/dados-abertos">Base de Dados da Câmara dos Deputados</a></li>
                                <li><a href="http://www.senado.gov.br/atividade/dadosabertos/">Base de Dados do Senado</a></li>
                            </ul><!-- end of .links -->
                        </div><!-- end of .col2Links -->
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>Artigos recentes</h2></div>
                        <ul class="miniBlogList">
                            <li>
                                <a href="#">
                                    <img src="/static/assets/blogs/mini-list/b-thumb1.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="http://polignu.org/projeto/camaraws/camaraws3">Camaraws: Análise de Partidos na Câmara dos Deputados</a></h5>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="http://polignu.org/projeto/camaraws/pca">Análise gráfica das votações da câmara dos deputados</a></h5>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/static/assets/blogs/mini-list/b-thumb3.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="http://polignu.org/projeto/camaraws/análise-automatizada-da-semelhança-entre-os-partidos-políticos">Análise automatizada da semelhança entre os partidos políticos</a></h5>
                            </li>
                        </ul>
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>CONTATE-NOS</h2></div>
                        <ul class="address">
                            <li class="street">Av. Prof. Almeida Prado, trav. 2, n.83, sala S-33 - Edif. de Eng. Civil - Cid. Universitária - São Paulo - SP 05508-900 Brasil</li>
                            <!-- <li class="phone">+55-11-3091-5690</li> -->
                            <li class="email"><a href="mailto:radarparlamentar@polignu.org" rel="nofollow">radarparlamentar@polignu.org</a></li>
                <li class="email"><a href="mailto:polignu@googlegroups.com" rel="nofollow">polignu@googlegroups.com (lista aberta)</a></li>
                            <!-- <li class="skype"><a href="skype:circles_support?add" rel="nofollow">circles_support</a></li> -->
                        </ul><!-- end of .address -->
                        <div class="stHead"></div>
                    </div><!-- end of .oneThird -->
                </section><!-- end of .cols -->
            </div><!-- end of .wrap -->
        </div><!-- end of .top -->
        <section class="bottom">
            <div class="contents">
                <p class="copy">Copyright &copy; 2012 | <a href="http://www.gnu.org/licenses/agpl">Alguns Direitos Reservados: Affero GPL</a> | <a href="https://github.com/leonardofl/radar_parlamentar">Código Fonte deste projeto</a></p>
                <ul class="socialLinks">
                    <li class="twitter"><a href="https://twitter.com/#!/RadarParlamento">Twitter</a></li>
                    <li class="facebook"><a href="https://www.facebook.com/RadarParlamentar">Facebook</a></li>

                    <!-- <li class="dribbble"><a href="#">Dribbble</a></li>
                    <li class="flickr"><a href="#">Flickr</a></li> -->

                </ul><!-- end of socialLinks -->
            </div><!-- end of .contents -->
        </section><!-- end of .bottom -->
    </footer><!-- end of #footer -->

<!-- JavaScript Libraries and Codes -->
    <!-- jQuery hoverIntent plugin -->
    <script style="display: none;" src="/static/files/codes/js/jquery.hoverIntent.min.js"></script>
    <!-- jQuery Cycle plugin -->
    <script style="display: none;" src="/static/files/codes/js/jquery.cycle.all.min.js"></script>
    <!-- jQuery Quicksand plugin -->
    <script style="display: none;" src="/static/files/codes/js/jquery.quicksand.min.js"></script>
    <!-- jQuery prettyPhoto plugin -->
    <script style="display: none;" src="/static/files/codes/js/jquery.prettyPhoto.min.js"></script>
    <!-- jQuery twitter plugin -->
    <script style="display: none;" src="/static/files/codes/js/jquery.tweet.min.js"></script>

    <!-- This file starts/initializes all js functionalities throughout
        this site and houses some more scripts or libraries. -->
    <script style="display: none;" src="/static/files/codes/js/init.min.js"></script>

    <script style="display: none;">
        /* Cycle plugin for home page */
        $(document).ready(function(){
            var onBefore = function(curr, next, opts, fwd) {
                jQuery(next).find('.slideMsgs.double').find('h1').css({'display':'none', 'left':'-999px', 'opacity': 0});
                jQuery(next).find('.slideMsgs.double').find('h4').css({'display':'none', 'left':'-999px', 'opacity': 0});
            }

            var onAfter = function(curr, next, opts, fwd) {
                var width = $(document).width() - 980;
                var h1Height = jQuery(this).find('.slideMsgs.double').find('h1').height(true);
                jQuery(this).find('.slideMsgs.double').find('h1').css('display', 'block').delay(100).animate({'left': ((width / 2) + 70) +'px', 'opacity': 1}, 400, 'easeInQuad');
                jQuery(this).find('.slideMsgs.double').find('h4').css({display: 'block', top: h1Height + 'px'}).delay(400).animate({'left': ((width / 2) + 70) +'px', 'opacity': 1}, 250, 'easeInQuad');
            }

            if ($('#slides').length > 0){
                $('#slides').cycle({
                    fx: 'scrollHorz',
                    speed: 500,
                    timeout: 5000,
                    pause: 1,
                    rev: 1,
                    randomizeEffects: false,
                    easing: 'easeInQuad', //jquery.easing library/plugin is required for this functionality
                    next: '#sliderCtrls .next',
                    prev: '#sliderCtrls .prev',
                    before: onBefore,
                    after: onAfter,
                    pager: '',
                    cleartypeNoBg: true
                });
            }
            /* slider controls position inside the page*/
            var left = Math.ceil((($(document).width()) - 980) / 2);
            $('#sliderCtrls').css('left', left+'px');
        });
    </script>

<!-- Weird IE specific codes -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie.css" media="all" />
        <script src="files/codes/js/ie.js"></script>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie7.css" media="all" />
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie8.css" media="all" />
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="/files/codes/css/ie9.css" media="all" />
    <![endif]-->

    <link rel="stylesheet" id="colors" href="/static/files/codes/css/colors/orange-green.css" type="text/css" />

{% if request.get_host != '127.0.0.1:8000' and  request.get_host != 'localhost:8000' %}
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11505683-7']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
{% endif %}
</body>
</html>
