{% extends 'base.html' %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Radar Parlamentar
{% endblock nomepagina %}

{% block pagedesc %}
    Veja a lista de votações filtradas.
{% endblock pagedesc %}

{% block content %}
    <h3>Votações em {{casa_legislativa.nome}}</h3>
    <h5>Votações entre {{data_primeira_votacao}} e {{data_ultima_votacao}}</h5>
    {% if lista_de_palavras_chave %}
        <h5>Contendo as palavras-chave:
        {% for palavra in lista_de_palavras_chave %}
            <b>  {{palavra}} </b>
        {% endfor %}</h5>
    {% endif %}
    <table>
        <tr>
            <td align="center"><b>Proposição</b></td>
            <td align="center"><b>Descricao</b></td>
            <td align="center"><b>Ementa</b></td>
            <td align="center"><b>Indexacao</b></td>
            <td align="center"><b>Descricao da Proposição</b></td>
        </tr>

    {% for votacao in votacoes %}
        <tr>
			<td align="justify">
				<a href="/plenaria/{{casa_legislativa.nome_curto}}/{{votacao.proposicao.sigla}}-{{votacao.proposicao.numero}}-{{votacao.proposicao.ano}}/">
					{{votacao.proposicao.sigla}}{{votacao.proposicao.numero}}/{{votacao.proposicao.ano}}
				</a>
			</td>
            <td align="justify"><b>{{votacao.data}} </br></b>{{votacao.descricao}}</td>
            <td align="justify">{{votacao.proposicao.ementa}}</td>
            <td align="justify">{{votacao.proposicao.indexacao}}</td>
            <td align="justify">{{votacao.proposicao.descricao}}</td>
        </tr>
    {% endfor %}     
    </table>

{% endblock content %}

