
{% extends "base.html" %}

{% block title %}
    Radar Parlamentar - {{casa_legislativa.nome}}
{% endblock title %}

{% block extrascripts %}
    <link rel="stylesheet" href="/static/files/codes/css/radar_d3_graph.css" type="text/css" />
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Radar Parlamentar
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente afinidades de partidos e parlamentares.
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/analises/">Gráficos</a> &raquo;</li>
    <li><a href="/analises/analise/{{casa_legislativa.nome_curto}}">{{casa_legislativa.nome}}</a></li>
{% endblock breadcrumbs %}

{% block content %}
    <h3>{{casa_legislativa.nome}}</h3>
    <h3>{{nome_pl}}</h3>
    <article id="descricao" class="inwrap">
        <div style="width:700px" id="graficoplenaria">
        </div>
        <div>
            <ul>
                <li><input type="button" onClick="destacarVoto('SIM')" name="VotoSim", value="Voto Sim"></button></li>
                <li><input type="button" onClick="destacarVoto('NAO')" name="VotoNão", value="Voto Não"></button></li>
                <li><input type="button" onClick="destacarVoto('ABSTENCAO')" name="Abstenção", value="Abstenção"></button></li>
            </ul>
        </div>
    </article>
        <div style="clear:right"/>
{% endblock content %}

{% block extrajsend %}
    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <script src="/static/files/codes/js/d3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
        <script type="text/javascript">
          if (typeof d3 === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/d3.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
    <script src="/static/files/codes/js/plenaria.js"></script>
{% endblock extrajsend %}

{% block extrascriptsend %}
Plot.initialize("{{casa_legislativa.nome_curto}}", {{id_proposicao}});
{% endblock extrascriptsend %}
