
{% extends "base.html" %}

{% block title %}
    Radar Parlamentar - {{casa_legislativa.nome}}
{% endblock title %}

{% block extrascripts %}
    <link rel="stylesheet" href="/static/files/codes/css/radar_d3_graph.css" type="text/css" />
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Radar Parlamentar
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente afinidades de partidos e parlamentares.
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/analises/plenaria">Plenárias</a></li>
    {% if casa_legislativa %}
        <li> &raquo; <a href="/analises/plenaria/{{casa_legislativa.nome_curto}}">{{casa_legislativa.nome}}</a></li>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>Plenárias</h1>

    <form id="formProposicao" method="GET" action="/analises/analise/{{casa_legislativa.nome_curto}}/">
        <p>
            <label for="casa_legislativa">Casa Legislativa:</label>
            <select id="casa_legislativa" name="casa_legislativa" onchange="alert('aaaaaa')">
                {% for nome_curto, nome_longo in casas_legislativas %}
                    <option value="{{nome_curto}}">{{nome_longo}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            {% if casa_legislativa %}
                <label for="proposicao">Proposição:</label>
                <select id="proposicao" name="proposicao" onchange="route()">
                    {% for id, nome in proposicoes %}
                        <option value="{{id}}">{{nome}}</option>
                    {% endfor %}
                </select>
            {% endif %}
        </p>
    </form>

    {% if id_proposicao %}
        <h3>{{casa_legislativa.nome}}</h3>
        <h3>{{nome_pl}}</h3>
        <article id="descricao" class="inwrap">
            <div style="width:700px" id="graficoplenaria">
                <figure id="animacao"><center><img id="loading" src="/static/files/images/spinner.gif"></img></center></figure>
            </div>
            <div>
                <ul>
                    <li><input type="button" onClick="destacarVoto('SIM')" name="VotoSim", value="Voto Sim"></button></li>
                    <li><input type="button" onClick="destacarVoto('NAO')" name="VotoNão", value="Voto Não"></button></li>
                    <li><input type="button" onClick="destacarVoto('ABSTENCAO')" name="Abstenção", value="Abstenção"></button></li>
                </ul>
            </div>
        </article>
            <div style="clear:right"/>
    {% endif %}
{% endblock content %}

{% block extrajsend %}
    {% if request.get_host == '127.0.0.1:8000' or request.get_host == 'localhost:8000' %}
        <script src="/static/files/codes/js/d3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
    {% else %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
        <script src="/static/files/codes/js/d3-tip.js"></script>
        <script type="text/javascript">
          if (typeof d3 === 'undefined') {
            var e = document.createElement('script');
                e.src = '/static/files/codes/js/d3.min.js';
                e.type='text/javascript';
            document.getElementsByTagName("head")[0].appendChild(e);
          }
        </script>
    {% endif %}
    <script src="/static/files/codes/js/plenaria.js"></script>
{% endblock extrajsend %}

{% block extrascriptsend %}
    function route() {
        var casa = $('#casa_legislativa').val()
        var prop = $('#proposicao').val()
        location.pathname = '/analises/plenaria/' + casa + '/' + prop
    }

    Plot.initialize("{{casa_legislativa.nome_curto}}", {{id_proposicao}});
{% endblock extrascriptsend %}
