{%extends "base.html"%}

{% block title %}
   Radar na Mídia
{% endblock title %}

{% block extrascripts %}
{% endblock extrascripts %}

{% block extrahead %}
{% endblock extrahead %}

{% block headerImgClass %}
    about
{% endblock headerImgClass %}

{% block nomepagina %}
    Radar na Mídia
{% endblock nomepagina %}

{% block pagedesc %}
    Radar Parlamentar é notícia em todo lugar!
{% endblock pagedesc %}

{% block breadcrumbs %}    
    <li><a href="/index">Home</a> &raquo;</li>
    <li><a href="/radarnamidia">Radar na Mídia</a></li>	 	
	
{% endblock breadcrumbs %}

{% block content %}
    <article class="aboutDesc">

        <p>
        <h3><a href="http://www.camara.sp.gov.br/index.php?option=com_content&view=article&id=19290&Itemid=366" target="_blank">Apartes (a revista da Câmara Municipal de São Paulo)</a></h3>
        <h4>Hackers em maratona (07/2014)</h4>
          Programadores criam três aplicativos para tornar mais acessíveis os dados da Câmara.
        <br><a href="https://dl.dropboxusercontent.com/u/18183156/radar/radar-apartes.pdf" target="_blank">Matéria completa...</a><br>
        </p>

        <p>
        <h3><a href="http://tema.serpro.gov.br" target="_blank">Tema (a revista do SERPRO)</a></h3>
        <h4>De olho no poder (05/2013)</h4>
            Projeto de estudantes da USP analisa semelhanças e diferenças dos partidos brasileiros, ganha prêmios e inspira aplicativo de um dos jornais de maior circulação do país
        <br><a href="https://dl.dropboxusercontent.com/u/18183156/radar/radar_tema.pdf" target="_blank">Matéria completa...</a><br>
        </p>

        <p>
        <h3><a href="http://adrenaline.uol.com.br/" target="_blank">Adrenaline UOL</a></h3>
        <h4>Projeto em software livre Radar Parlamentar ajuda a entender a política do país (29/01/2013)</h4>
            O grupo de estudantes da Escola Politécnica da USP (EPUSP) integrantes do PoliGNU, desenvolveu uma forma de ajudar as pessoas a analisarem e entenderem o cenário político brasileiro, o Radar Parlamentar. Criado com software livre, o sistema obtém dados das câmaras de forma automatizada, referentes a propostas e votações, e distribui o resultado em gráficos que mostram o posicionamento ideológico dos partidos e sua distância em relação à situação.
        <br><a href="http://adrenaline.uol.com.br/internet/noticias/15344/projeto-em-software-livre-radar-parlamentar-ajuda-a-entender-a-politica-do-pais.html" target="_blank">Matéria completa...</a><br>
        </p>

	 	<p>
	    <h3><a href="http://www5.usp.br/" target="_blank">USP - Universidade de São Paulo</a></h3>
	    <h4>Radar Parlamentar desenvolvido na Poli facilita acesso a dados de votações (05/06/2012)</h4>
            Um projeto em fase de desenvolvimento por um grupo de alunos da Escola Politécnica (Poli) da USP deverá facilitar o acesso e análise, por parte da população em geral, dos dados referentes às votações ocorridas entre os parlamentares brasileiros, seja em âmbito municipal ou federal.
	    <br><a href="http://www5.usp.br/11567/radar-parlamentar-desenvolvido-na-poli-facilita-acesso-a-dados-de-votacoes/" target="_blank">Matéria completa...</a><br>
        </p>

      <p>
	    <h3><a href="http://www.gazetadopovo.com.br" target="_blank">Gazeta do Povo</a></h3>
	    <h4>Fidelidade a toda prova (28/01/2012)</h4>
            Um estudo realizado pelo Grupo de Estudos de Software Livre da Poli/USP (PoliGNU) analisou a semelhança dos partidos políticos com base em 92 votações de projetos em 2011 na Câmara dos Deputados. Os dados indicam que as legendas aliadas apoiaram o PT, partido da presidente Dilma Rousseff, em 90% das propostas, independentemente da ideologia política, enquanto a oposição mantém semelhança próxima a 30%. No caso do PT, base do governo, a maior proximidade foi com o PCdoB, com 97%, e a menor com o PSol (19%). Com o PSDB, principal legenda da oposição, a igualdade ficou em 25%.
	    <br><a href="https://dl.dropboxusercontent.com/u/18183156/radar/fiedelidade.pdf" target="_blank">Matéria completa...</a><br>
        </p>

	</article>
{% endblock content %}

{% block extrascriptsend %}
    menuActive('sobre_nos');   
{% endblock extrascriptsend %}

{% block extrajsend %}
{% endblock extrajsend %}
