{% extends "base.html" %}

{% block title %}
    Faça sua Análise - Senado Federal
{% endblock title %}

{% block extrascripts %}
{% endblock extrascripts %}

{% block extrahead %}
    $(function() {
        $('#analises').addClass('active');
    });
{% endblock extrahead %}

{% block nomepagina %}
    Faça sua Análise
{% endblock nomepagina %}

{% block pagedesc %}
    Entenda visualmente afinidades partidárias das casas legislativas
{% endblock pagedesc %}

{% block breadcrumbs %}
    <li><a href="/index/">Home</a> &raquo;</li>
    <li><a href="/analises/">Análises</a> &raquo;</li>
    <li><a href="/analises/senf/">Senado Federal</a></li>
{% endblock breadcrumbs %}

{% block content %}
        <article class="aboutDesc">
            <p>
                Esta página está em construção!
            </p>
        </article>
{% endblock content %}

{% block extrascriptsend %}
{% endblock extrascriptsend %}

{% block extrajsend %}
{% endblock extrajsend %}
