<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta content="text/html; charset=utf-8"/>
    <meta name="distribution" content="global"/>
    <meta name="robots" content="follow, all"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="revisit-after" content="10 days"/>
    <meta name="keywords" content="Circle, Theme, Template, HTML5, CSS3, palpaldal, design, development, dark, strong, fantastic, large slider" />
    <meta name="description" content="A lovely HTML5 + WordPress Theme with Great Designs and Robust Customization Options"/>
    
    <title>Archives :: Circle Theme</title>
    
    <link rel="shortcut icon" href="assets/favicon.ico"/>
    
    <!-- CSS Libraries and codes -->
    <link rel="stylesheet" type="text/css" href="files/codes/css/reset.css" />
    <link rel="stylesheet" href="files/codes/css/style.css" type="text/css" />
    <link rel="stylesheet" href="files/codes/css/prettyPhoto.css" type="text/css" />

	<!-- Modernizr for HTML5 -->
	<script style="display: none;" src="files/codes/js/modernizr-2.0.6.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31550296-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<header id="header">
    	<div class="bar"></div><!-- the top border -->
        <section id="navNLogo">
        	<div class="wrap">
                <div id="logo">
                	<a href="#">
                    	<img src="assets/logo.png" height="28" width="83" alt="Circle">
                    </a>
                </div>
                <nav>
                    <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li>
                        	<a href="about.html">About</a>
                            <ul>
                            	<li>
                                	<a href="#">Home Pages</a>
                                    <ul>
                                    	<li><a href="index.html">Default</a></li>
                                    	<li><a href="index-port.html">Featured Portfolio</a></li>
                                    	<li><a href="index-2.html">Style 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Home Sliders</a>
                                    <ul>
                                    	<li><a href="index.html">Drag Left/Right [Cycle] 2 Box Msg</a></li>
                                    	<li><a href="index-port.html">Drag Left/Right [Cycle] 1 Box Msg</a></li>
                                    	<li><a href="index-3.html">Fade [Cycle] 2 Box Msg</a></li>
                                    	<li><a href="index-2.html">Fade [Cycle] 1 Box Msg</a></li>
                                    	<li><a href="index-box-elastic.html">Boxed Slides [Elastic]</a></li>
                                    	<li><a href="index-box-nivo.html">Boxed Slides [Nivo]</a></li>
                                    	<li><a href="index-box-cycle.html">Boxed Slides [Cycle]</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Page</a></li>
                                <li><a href="price-boxes.html">Price Boxes</a></li>
                                <li class="active"><a href="archive.html">Archives</a></li>
                                <li><a href="search-results.html">Search Results</a></li>
                                <li><a href="404.html">404 - Error Page</a></li>
                                <li>
                                	<a href="#">Column Variations / Layout</a>
                                    <ul>
		                                <li><a href="columns.html">Columns Full Width</a></li>
        		                        <li><a href="columns-sb.html">Columns with Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="typography.html">Typography</a></li>
                            </ul>
						</li>
                        <li>
                        	<a href="portfolio.html">Portfolio</a>
                            <ul>
                            	<li><a href="portfolio.html">Circle Portfolio</a></li>
                                <li>
                                	<a href="#">Portfolio (Quicksand)</a>
                                    <ul>
                                    	<li><a href="portfolio-qs-2.html">Portfolio Col 2</a></li>
                                    	<li><a href="portfolio-qs-3.html">Portfolio Col 3</a></li>
                                    	<li><a href="portfolio-qs-4.html">Portfolio Col 4</a></li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Portfolio (Message)</a>
                                    <ul>
                                    	<li><a href="portfolio-2.html">Portfolio Col 2</a></li>
                                    	<li><a href="portfolio-3.html">Portfolio Col 3</a></li>
                                    	<li><a href="portfolio-4.html">Portfolio Col 4</a></li>
                                    </ul>
                                </li>
                                <li><a href="port-post.html">Portfolio Post Page</a></li>
                            </ul>
						</li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul><!-- end of #menu -->
                </nav>
            </div><!-- end of .wrap -->
        </section><!-- end of #nav -->
    	<section id="imageBox" class="headerImages">
        	<div class="image blog"></div>
            <hgroup class="headerMsg">
            	<h1>Archive</h1>
                <h3>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h3>
            </hgroup>
        </section><!-- end of #imageBox -->
    </header><!-- end of #header -->
    
    <section id="content">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a> &raquo;</li>
            <li><a href="#">Archive</a></li>
        </ul>
        
        <section class="cols archives">
        	<section id="primary">
                <div class="inCols">
                    <div class="half">
                        <h3>Pages</h3>
                        <ul class="archiveList">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li>
                                <a href="#">Portfolio</a>
                                <ul>
                                    <li>
                                        <a href="#">Two Column</a>
                                        <ul>
                                            <li><a href="#">With Sidebar</a></li>
                                            <li><a href="#">Without Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">404 Page</a></li>
                            <li><a href="#">Search Results</a></li>
                            <li><a href="#">Typography</a></li>
                        </ul><!-- end of .archiveList -->
    
                        <h3>Categories</h3>
                        <ul class="archiveList">
                            <li><a href="#">Animation</a></li>
                            <li><a href="#">Graphics</a></li>
                            <li>
                                <a href="#">Microsoft</a>
                                <ul>
                                    <li>
                                        <a href="#">Windows</a>
                                        <ul>
                                            <li><a href="#">Windows 7</a></li>
                                            <li><a href="#">Windows Vista</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Office</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Apple</a>
                                <ul>
                                    <li><a href="#">iPad</a></li>
                                    <li>
                                        <a href="#">iPhones</a>
                                        <ul>
                                            <li><a href="#">iPhone 4</a></li>
                                            <li><a href="#">iPhone 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">iPod</a></li>
                                    <li><a href="#">iTunes</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Wordpress</a></li>
                        </ul><!-- end of .archiveList -->
                    </div><!-- end of .half -->
    
                    <div class="half">
                        <h3>Recent Posts</h3>
                        <ul class="miniBlogList">
                                    <li>
                                        <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                    </li>
                                    <li>
                                        <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                    </li>
                        </ul><!-- end of .miniBlogList -->
                        
                        <h3>Archives</h3>
                        <ul class="linkList">
                            <li><a href="#">March, 2012 (12)</a></li>
                            <li><a href="#">February, 2012 (8)</a></li>
                            <li><a href="#">January, 2012 (15)</a></li>
                            <li><a href="#">December, 2012 (13)</a></li>
                            <li><a href="#">November, 2011 (10)</a></li>
                            <li><a href="#">October, 2011 (8)</a></li>
                            <li><a href="#">September, 2011 (9)</a></li>
                            <li><a href="#">August, 2011 (6)</a></li>
                            <li><a href="#">July, 2011 (8)</a></li>
                        </ul>
                        
                        <h3>Tags</h3>
                        <ul class="tags">
                            <li><a href="#">Apple</a></li>
                            <li><a href="#">Mango</a></li>
                            <li><a href="#">Orange</a></li>
                            <li><a href="#">Banana</a></li>
                            <li><a href="#">Black Berry</a></li>
                            <li><a href="#">Lychee</a></li>
                            <li><a href="#">Pine Apple</a></li>
                            <li><a href="#">Strawberry</a></li>
                        </ul>
    
                        
                    </div><!-- end of .half -->
				</div><!-- end of .inCols -->
            </section><!-- end of #primary -->

            <aside id="secondary">
            	<div class="static">
                	<div class="wrap"><!-- to top border -->
                    	<form id="searchForm" action="#" method="get">
                        	<legend>Search Form</legend>
                            <label for="s">Search Something</label>
                            <input type="text" name="s" id="s" size="40" maxlength="150" />
                            <input type="submit" value="Search">
                        </form>
                        <div class="social">
                        	<h5>Stay Connected</h5>
                            <ul>
                            	<li class="twitter"><a href="#">Twitter</a></li>
                            	<li class="facebook"><a href="#">Facebook</a></li>
                            	<li class="dribbble"><a href="#">Dribbble</a></li>
                            	<li class="flickr"><a href="#">Flickr</a></li>
                            	<li class="rss"><a href="#">RSS</a></li>
                            </ul>
                        </div>
                    </div><!-- end of .wrap -->
                </div><!-- end of .static -->
			
            	<div id="tabs">
                	<ul id="tKeys">
                    	<li class="active"><a href="#tab1">Recent Posts</a></li>
                        <li><a href="#tab2">Popular Posts</a></li>
                        <li><a href="#tab3">February</a></li>
                    </ul>
                    <ul id="tConts">
                    	<li id="tab1">
                            <ul class="miniBlogList">
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb1.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                    <p class="meta"><span>01 June, 2012</span><span>08 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                    <p class="meta"><span>23 May, 2012</span><span>17 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb3.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                    <p class="meta"><span>17 May, 2012</span><span>31 Comments</span></p>
                                </li>
                            </ul><!-- end of .miniBlogList -->
                        </li>
                    	<li id="tab2">
                            <ul class="miniBlogList">
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb4.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                    <p class="meta"><span>30 March, 2012</span><span>134 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb5.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                    <p class="meta"><span>05 April, 2012</span><span>102 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb6.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                    <p class="meta"><span>27 April, 2012</span><span>85 Comments</span></p>
                                </li>
                            </ul><!-- end of .miniBlogList -->
                        </li>
                    	<li id="tab3">
                            <ul class="miniBlogList">
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                    <p class="meta"><span>27 February, 2012</span><span>46 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb4.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                    <p class="meta"><span>17 February, 2012</span><span>53 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb5.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                    <p class="meta"><span>05 February, 2012</span><span>39 Comments</span></p>
                                </li>
                            </ul><!-- end of .miniBlogList -->
                        </li>
                    </ul><!-- end of #tConts -->
                </div><!-- end of #tabs -->
                
                <div class="dynamic">
                	<ul>
                    	<li>
                        	<div class="stHead"><h2>Categories</h2></div>
                            <div class="col2Links">
                                <ul class="links">
                                    <li><a href="#">Graphics Design</a></li>
                                    <li><a href="#">Character Design</a></li>
                                    <li><a href="#">Animation</a></li>
                                    <li><a href="#">Character Modeling</a></li>
                                    <li><a href="#">Web Designing</a></li>
                                    <li><a href="#">Web Development</a></li>
                                    <li><a href="#">Mobile Apps Design</a></li>
                                </ul><!-- end of .links -->
                                <ul class="links">
                                    <li><a href="#">Mobile Apps Design</a></li>
                                    <li><a href="#">User Experience</a></li>
                                    <li><a href="#">Industry Standard</a></li>
                                    <li><a href="#">Bulletin Board</a></li>
                                </ul><!-- end of .links -->
                            </div><!-- end of col2Links -->
                        </li>
                    	<li>
                        	<div class="stHead"><h2>Archives</h2></div>
                            <div class="col2Links">
                                <ul class="links">
                                    <li><a href="#">March, 2012 (12)</a></li>
                                    <li><a href="#">February, 2012 (8)</a></li>
                                    <li><a href="#">January, 2012 (15)</a></li>
                                    <li><a href="#">December, 2012 (13)</a></li>
                                    <li><a href="#">November, 2011 (10)</a></li>
                                </ul><!-- end of .links -->
                                <ul class="links">
                                    <li><a href="#">October, 2011 (8)</a></li>
                                    <li><a href="#">September, 2011 (9)</a></li>
                                    <li><a href="#">August, 2011 (6)</a></li>
                                    <li><a href="#">July, 2011 (8)</a></li>
                                </ul><!-- end of .links -->
                            </div><!-- end of col2Links -->
                        </li>
                        <li>
                        	<div class="stHead"><h2>Recent Posts</h2></div>
                            <ul class="miniBlogList">
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                    <p class="meta"><span>27 February, 2012</span><span>46 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb4.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                    <p class="meta"><span>17 February, 2012</span><span>53 Comments</span></p>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/blogs/mini-list/b-thumb5.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                    </a>
                                    <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                    <p class="meta"><span>05 February, 2012</span><span>39 Comments</span></p>
                                </li>
                            </ul><!-- end of .miniBlogList -->
                        </li>
                        <li>
                        	<div class="stHead"><h2>Tags</h2></div>
                            <ul class="tags">
                            	<li><a href="#">Apple</a></li>
                            	<li><a href="#">Mango</a></li>
                            	<li><a href="#">Orange</a></li>
                            	<li><a href="#">Banana</a></li>
                            	<li><a href="#">Black Berry</a></li>
                            	<li><a href="#">Lychee</a></li>
                            	<li><a href="#">Pine Apple</a></li>
                            	<li><a href="#">Strawberry</a></li>
                            </ul>
                        </li>
                        <li>
                        	<div class="stHead"><h2>Recent Tweets</h2></div>
                            <div id="sbTweets">
                            </div>
                        </li>
                        <li>
                        	<div class="stHead"><h2>Flickr Photos</h2></div>
                            <!-- Start of Flickr Badge -->
                            <div id="flickr_badge_uber_wrapper" class="flickr">
                                <div id="flickr_badge_wrapper">
                                    <script src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&context=in%2Fpool-psdtuts%2F&source=group&group=613394%40N22">
                                    </script>
                                </div>
                            </div><!-- End of Flickr Badge -->
                        </li>
                    </ul>
                </div><!-- end of .dynamic -->
            </aside><!-- end of #secondary -->
        </section><!-- end of .cols -->

    </section><!-- end of #content -->
    
    <footer id="footer">
    	<div class="top">
        	<div class="wrap">
                <section class="cols">
                    <div class="oneThird">
                        <div class="stHead"><h2>Quick Links</h2></div>
                        <div class="col2Links">
                            <ul class="links">
                                <li><a href="#">Graphics Design</a></li>
                                <li><a href="#">Character Design</a></li>
                                <li><a href="#">Animation</a></li>
                                <li><a href="#">Character Modeling</a></li>
                                <li><a href="#">Web Designing</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Mobile Apps Design</a></li>
                            </ul><!-- end of .links -->
                            <ul class="links">
                                <li><a href="#">Mobile Apps Design</a></li>
                                <li><a href="#">Great User Experience</a></li>
                                <li><a href="#">Industry Standard</a></li>
                                <li><a href="#">Bulletin Board</a></li>
                            </ul><!-- end of .links -->
                        </div><!-- end of .col2Links -->
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>RECENT POSTS</h2></div>
                        <ul class="miniBlogList">
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb1.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                <p class="meta"><span>15 May, 2012</span><span>17 Comments</span></p>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                <p class="meta"><span>01 May, 2012</span><span>25 Comments</span></p>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb3.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                <p class="meta"><span>17 April, 2012</span><span>39 Comments</span></p>
                            </li>
                        </ul>
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>CONTACT US</h2></div>
                        <ul class="address">
                            <li class="street">153, Deisy Road, Northern Country Side,
    Ohio - 00000.</li>
                            <li class="phone">022-465-3548</li>
                            <li class="email"><a href="mailto:support@circle.com" rel="nofollow">support@circle.com</a></li>
                            <li class="skype"><a href="skype:circles_support?add" rel="nofollow">circles_support</a></li>
                        </ul><!-- end of .address -->
                        <div class="stHead"><h2>NEWSLETTER</h2></div>
                        <form id="nlForm" action="#" method="">
                            <legend style="display: none;">Newsletter Form</legend>
                            <label for="cemail">Email</label>
                            <input type="text" name="cemail" id="cemail" size="30" maxlength="50" />
                            <input type="submit" value="Subscribe">
                        </form>
                    </div><!-- end of .oneThird -->
                </section><!-- end of .cols -->
            </div><!-- end of .wrap -->
		</div><!-- end of .top -->
        <section class="bottom">
        	<div class="contents">
                <p class="copy">Copyright &copy; 2012, <a href="#">Circle</a>. All Rights Reserved.</p>
                <ul class="socialLinks">
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="dribbble"><a href="#">Dribbble</a></li>
                    <li class="flickr"><a href="#">Flickr</a></li>
                </ul><!-- end of socialLinks -->
            </div><!-- end of .contents -->
        </section><!-- end of .bottom -->
    </footer><!-- end of #footer -->

<!-- JavaScript Libraries and Codes -->
    <!-- the jQuery ligrary -->
	<script src="files/codes/js/jquery-1.7.1.min.js"></script>
	<!-- jQuery Cycle plugin -->
    <script style="display: none;" src="files/codes/js/jquery.cycle.all.min.js"></script>
	<!-- jQuery Quicksand plugin -->
    <script style="display: none;" src="files/codes/js/jquery.quicksand.js"></script>
	<!-- jQuery prettyPhoto plugin -->
    <script style="display: none;" src="files/codes/js/jquery.prettyPhoto.js"></script>
	<!-- jQuery twitter plugin -->
    <script style="display: none;" src="files/codes/js/jquery.tweet.js"></script>

	<!-- This file starts/initializes all js functionalities throughout
    	this site and houses some more scripts or libraries. -->
    <script style="display: none;" src="files/codes/js/init.js"></script>

<!-- Weird IE specific codes -->
	<!--[if lt IE 9]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie.css" media="all" />
	    <script type="text/javascript" src="files/codes/js/ie.js"></script>
    <![endif]-->
	<!--[if IE 7]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie7.css" media="all" />
    <![endif]-->
    <!--[if IE 8]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie8.css" media="all" />
    <![endif]-->
    <!--[if IE 9]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie9.css" media="all" />
    <![endif]-->

    <link rel="stylesheet" id="colors" href="files/codes/css/colors/orange-green.css" type="text/css" />

</body>
</html>