<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta content="text/html; charset=utf-8"/>
    <meta name="distribution" content="global"/>
    <meta name="robots" content="follow, all"/>
    <meta name="googlebot" content="index, follow"/>
    <meta name="revisit-after" content="10 days"/>
    <meta name="keywords" content="Circle, Theme, Template, HTML5, CSS3, palpaldal, design, development, dark, strong, fantastic, large slider" />
    <meta name="description" content="A lovely HTML5 + WordPress Theme with Great Designs and Robust Customization Options"/>
    
    <title>Typography :: Circle Theme</title>
    
    <link rel="shortcut icon" href="assets/favicon.ico"/>
    
    <!-- CSS Libraries and codes -->
    <link rel="stylesheet" type="text/css" href="files/codes/css/reset.css" />
    <link rel="stylesheet" href="files/codes/css/style.css" type="text/css" />
    <link rel="stylesheet" href="files/codes/css/prettyPhoto.css" type="text/css" />

	<!-- Modernizr for HTML5 -->
	<script style="display: none;" src="files/codes/js/modernizr-2.0.6.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31550296-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
	<header id="header">
    	<div class="bar"></div><!-- the top border -->
        <section id="navNLogo">
        	<div class="wrap">
                <div id="logo">
                	<a href="#">
                    	<img src="assets/logo.png" height="28" width="83" alt="Circle">
                    </a>
                </div>
                <nav>
                    <ul id="menu">
                        <li><a href="index.html">Home</a></li>
                        <li>
                        	<a href="about.html">About</a>
                            <ul>
                            	<li>
                                	<a href="#">Home Pages</a>
                                    <ul>
                                    	<li><a href="index.html">Default</a></li>
                                    	<li><a href="index-port.html">Featured Portfolio</a></li>
                                    	<li><a href="index-2.html">Style 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Home Sliders</a>
                                    <ul>
                                    	<li><a href="index.html">Drag Left/Right [Cycle] 2 Box Msg</a></li>
                                    	<li><a href="index-port.html">Drag Left/Right [Cycle] 1 Box Msg</a></li>
                                    	<li><a href="index-3.html">Fade [Cycle] 2 Box Msg</a></li>
                                    	<li><a href="index-2.html">Fade [Cycle] 1 Box Msg</a></li>
                                    	<li><a href="index-box-elastic.html">Boxed Slides [Elastic]</a></li>
                                    	<li><a href="index-box-nivo.html">Boxed Slides [Nivo]</a></li>
                                    	<li><a href="index-box-cycle.html">Boxed Slides [Cycle]</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Page</a></li>
                                <li><a href="price-boxes.html">Price Boxes</a></li>
                                <li><a href="archive.html">Archives</a></li>
                                <li><a href="search-results.html">Search Results</a></li>
                                <li><a href="404.html">404 - Error Page</a></li>
                                <li>
                                	<a href="#">Column Variations / Layout</a>
                                    <ul>
		                                <li><a href="columns.html">Columns Full Width</a></li>
        		                        <li><a href="columns-sb.html">Columns with Sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="typography.html">Typography</a></li>
                            </ul>
						</li>
                        <li>
                        	<a href="portfolio.html">Portfolio</a>
                            <ul>
                            	<li><a href="portfolio.html">Circle Portfolio</a></li>
                                <li>
                                	<a href="#">Portfolio (Quicksand)</a>
                                    <ul>
                                    	<li><a href="portfolio-qs-2.html">Portfolio Col 2</a></li>
                                    	<li><a href="portfolio-qs-3.html">Portfolio Col 3</a></li>
                                    	<li><a href="portfolio-qs-4.html">Portfolio Col 4</a></li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Portfolio (Message)</a>
                                    <ul>
                                    	<li><a href="portfolio-2.html">Portfolio Col 2</a></li>
                                    	<li><a href="portfolio-3.html">Portfolio Col 3</a></li>
                                    	<li><a href="portfolio-4.html">Portfolio Col 4</a></li>
                                    </ul>
                                </li>
                                <li><a href="port-post.html">Portfolio Post Page</a></li>
                            </ul>
						</li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul><!-- end of #menu -->
                </nav>
            </div><!-- end of .wrap -->
        </section><!-- end of #nav -->
    	<section id="imageBox" class="headerImages">
        	<div class="image contact"></div>
            <hgroup class="headerMsg">
            	<h1>Contact Us</h1>
                <h3>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h3>
            </hgroup>
        </section><!-- end of #imageBox -->
    </header><!-- end of #header -->
    
    <section id="content">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a> &raquo;</li>
            <li><a href="#">About</a> &raquo;</li>
            <li><a href="#">Typography</a></li>
        </ul>
		
        <style>
			.delTypo{
				margin: 40px 0;
			}
		</style>
        <div class="delTypo">
                    <h4>HEADINGS</h4>
                    <hr />
                    <h1>h1: Typography has its own creative impression.</h1>
                    <p>
                        If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <h2>h2: Typography has its own creative impression.</h2>
                    <p>
                        If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <h3>h3: Typography has its own creative impression.</h3>
                    <p>
                        If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <h4>h4: Typography has its own creative impression.</h4>
                    <p>
                        If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <h5>h5: Typography has its own creative impression.</h5>
                    <p>
                        If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <h6>h6: Typography has its own creative impression.</h6>
                    <p>
                        If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>


                    <h4>BLOCKQUOTE &amp; PULLQUOTE</h4>
                    <hr />
                    <p>
                        Have you ever had a brilliant idea that would clearly benefit your company, but your boss or colleagues shut you down? If you have, you're not alone. And you're also likely violating some simple cardinal rules. Disobey them and getting the world on your side is near impossible. Abide by them and decisions are so smooth, you hardly notice. I recently sat down to interview the modern day father of persuasion (and bestselling author of Influence: The Psychology of Persuasion), Robert Cialdini, who I've crossed paths with a bit over the years. His lessons continue to move mountains. No matter where you are, the ability to influence is worth its weight in gold. Every social and business interaction involves it – be it your wife, friend, co-worker, waiter or the guy down the street trying to sell you a new Prius. Someone is always being influenced.
                    </p>
            
                    <blockquote>
                    	<p>
                        <strong>Non-Floated General Blockqoute</strong>
                        If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                        </p>
                    </blockquote>
                    
                    <p>
                        Have you ever had a brilliant idea that would clearly benefit your company, but your boss or colleagues shut you down? If you have, you're not alone. And you're also likely violating some simple cardinal rules. Disobey them and getting the world on your side is near impossible. Abide by them and decisions are so smooth, you hardly notice. I recently sat down to interview the modern day father of persuasion (and bestselling author of), Robert Cialdini, who I've crossed paths with a bit over the years.
                    </p>
            
                    <hr />
                    
                    <div style="overflow: hidden;">
                    <blockquote class="left">
                    	<p>
                            <strong>Left Floated Blockqoute</strong>
                            If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                        </p>
                    </blockquote>
                    <p>
                        Have you ever had a brilliant idea that would clearly benefit your company, but your boss or colleagues shut you down? If you have, you're not alone. And you're also likely violating some simple cardinal rules. Disobey them and getting the world on your side is near impossible. Abide by them and decisions are so smooth, you hardly notice. I recently sat down to interview the modern day father of persuasion (and bestselling author of Influence: The Psychology of Persuasion), Robert Cialdini, who I've crossed paths with a bit over the years. His lessons continue to move mountains.
                    </p>
                    
                    <p>
                        Have you ever had a brilliant idea that would clearly benefit your company, but your boss or colleagues shut you down? If you have, you're not alone. And you're also likely violating some simple cardinal rules. Disobey them and getting the world on your side is near impossible. Abide by them and decisions are so smooth, you hardly notice. I recently sat down to interview the modern day father of persuasion (and bestselling author of Influence: The Psychology of Persuasion), Robert Cialdini, who I've crossed paths with a bit over the years. His lessons continue to move mountains. No matter where you are, the ability to influence is worth its weight in gold. Every social and business interaction involves it – be it your wife, friend, co-worker, waiter or the guy down the street trying to sell you a new Prius. Someone is always being influenced.
                    </p>
                    </div>
            
                    <div style="overflow: hidden;">
                    <blockquote class="right">
                    	<p>
                            <strong>Right Floated Blockqoute</strong>
                            If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                        </p>
                    </blockquote>
            
                    <p>
                        Have you ever had a brilliant idea that would clearly benefit your company, but your boss or colleagues shut you down? If you have, you're not alone. And you're also likely violating some simple cardinal rules. Disobey them and getting the world on your side is near impossible. Abide by them and decisions are so smooth, you hardly notice. I recently sat down to interview the modern day father of persuasion (and bestselling author of Influence: The Psychology of Persuasion), Robert Cialdini, who I've crossed paths with a bit over the years. His lessons continue to move mountains. 
                    </p>
                    
                    <p>
                        Have you ever had a brilliant idea that would clearly benefit your company, but your boss or colleagues shut you down? If you have, you're not alone. And you're also likely violating some simple cardinal rules. Disobey them and getting the world on your side is near impossible. Abide by them and decisions are so smooth, you hardly notice. I recently sat down to interview the modern day father of persuasion (and bestselling author of Influence: The Psychology of Persuasion), Robert Cialdini, who I've crossed paths with a bit over the years. His lessons continue to move mountains. No matter where you are, the ability to influence is worth its weight in gold. Every social and business interaction involves it – be it your wife, friend, co-worker, waiter or the guy down the street trying to sell you a new Prius. Someone is always being influenced.
                    </p>
                    </div>


                    <h4>LIST STYLES</h4>
                    <hr />
                    
                        <ul class="list">
                            <li> <strong>Default</strong></li>
                            <li><code>&lt;ul class=&quot;list&quot;&gt;</code></li>
                            <li>
                                            Adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                            </li>
                            <li>
                                Keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                            </li>
                        </ul>
                        <ul class="list disc">
                            <li> <strong>Disc</strong></li>
                            <li><code>&lt;ul class=&quot;list disc&quot;&gt;</code></li>
                            <li>
                                 It helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
            
                            </li>
                            <li>
                             You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                            </li>
            
                        </ul>
                        <ul class="list arrow">
                            <li> <strong>Arrow</strong></li>
                            <li><code>&lt;ul class=&quot;list arrow&quot;&gt;</code></li>
                            <li>
                                 It helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
            
                            </li>
                            <li>
                             You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                            </li>
            
                        </ul>
                        <ul class="list right">
                            <li> <strong>Rightmark</strong></li>
                            <li><code>&lt;ul class=&quot;list right&quot;&gt;</code></li>
                            <li>
                                 The color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models. Tchanges translate between RGB and CMYK color models.
            
                            </li>
                            <li>
                                Translate between RGB and CMYK color models.
                            </li>
                        </ul>
                        <ul class="list cross">
                            <li> <strong>Crossmark</strong></li>
                            <li><code>&lt;ul class=&quot;list cross&quot;&gt;</code></li>
                            <li>
                                   Helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
            
                            </li>
                            <li>
                                    The color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                            </li>
                        </ul>
                        <ol class="list">
                            <li><strong>Decimal</strong></li>
                            <li><code>&lt;ol class=&quot;list&quot;&gt;</code></li>
                            <li>
                             You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                            </li>
                            <li>
                                            If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors.
                            </li>
                        </ol>
            
                        <ol class="list alpha">
                            <li><strong>Upper Alphabates</strong></li>
                            <li><code>&lt;ol class=&quot;list alpha&quot;&gt;</code></li>
                            <li>
                                    Use the color wheel to predict how a change in onelps to keep a standard color component affects other colors and also how changes translate between RGB and CMYK color models.
            
                            </li>
                            <li>
                                            If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance.
            
                            </li>
                        </ol>
            
                        <ol class="list alphalow">
                            <li><strong>Lower Alphabates</strong></li>
                            <li><code>&lt;ol class=&quot;list alphalow&quot;&gt;</code></li>
                            <li>
                                       Use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models, RGB and CMYK color models.
            
                            </li>
                            <li>
                                It helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                            </li>
                        </ol>


                        <h4>PREFORMATTED TEXTS</h4>
                        <hr />
<pre>
#imaginative{
	background: #1e1e1e;
	border: #000 1px solid;
	font: normal 12px Tahoma, Geneva, sans-serif;
	right: -1px;
	padding: 4px 10px;
	position: absolute;
	bottom: -1px;
}
</pre>


                    <h4>COMMON HTML INLINE ELEMENT STYLES</h4>
                    <hr />
                        <table cellspacing="0">
                            <tr>
                                <td><a href="#">Sample</a></td>
                                <td><code>&lt;a&gt;</code></td>
                            </tr>
                            <tr>
                                <td><abbr title="Cascading Style Sheet">CSS</abbr></td>
                                <td><code>&lt;abbr&gt;</code></td>
                            </tr>
                            <tr>
                                <td><acronym title="Radio Detection and Ranging">RADAR</acronym></td>
                                <td><code>&lt;acronym&gt;</code></td>
                            </tr>
                            <tr>
                                <td><code>Sample</code></td>
                                <td><code>&lt;code&gt;</code></td>
                            </tr>
                            <tr>
                                <td><strong>Sample</strong></td>
                                <td><code>&lt;strong&gt;</code>, <code>&lt;b&gt;</code></td>
                            </tr>
                            <tr>
                                <td><em>Sample</em></td>
                                <td><code>&lt;em&gt;</code></td>
                            </tr>
                            <tr>
                                <td><i>Sample</i></td>
                                <td><code>&lt;i&gt;</code></td>
                            </tr>
                            <tr>
                                <td><del>Sample</del></td>
                                <td><code>&lt;del&gt;</code></td>
                            </tr>
                            <tr>
                                <td><small>Sample</small></td>
                                <td><code>&lt;small&gt;</code></td>
                            </tr>
                            <tr>
                                <td><big>Sample</big></td>
                                <td><code>&lt;big&gt;</code></td>
                            </tr>
                            <tr>
                                <td><ins>Sample</ins></td>
                                <td><code>&lt;ins&gt;</code></td>
                            </tr>
                            <tr>
                                <td><kbd>Sample</kbd></td>
                                <td><code>&lt;kbd&gt;</code></td>
                            </tr>
                        </table>



                    <h4>MESSAGE BOXES</h4>
                    <hr />
                    <p class="success">
                        <strong>Success</strong> If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <p class="information">
                        <strong>Information</strong> If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <p class="warning">
                        <strong>Warning</strong> If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <p class="blocked">
                        <strong>Blocked</strong> If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>
                    <p class="error">
                        <strong>Error</strong> If you're new to adjusting color components, it helps to keep a standard color wheel diagram on hand when you work on color balance. You can use the color wheel to predict how a change in one color component affects other colors and also how changes translate between RGB and CMYK color models.
                    </p>



                    <h4>TABLE</h4>
                    <hr />
                    <table>
                        <caption>Some of our best friends.</caption>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Country</th>
                                <th>Profession</th>
                                <th>Hobby</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td>Name</td>
                                <td>Age</td>
                                <td>Country</td>
                                <td>Profession</td>
                                <td>Hobby</td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Nuruzzaman Sheikh</td>
                                <td>25</td>
                                <td>Bangladesh</td>
                                <td>Web Application Developer</td>
                                <td>Existence</td>
                            </tr>
                            <tr>
                                <td>Jack Robinson Sr.</td>
                                <td>36</td>
                                <td>North America</td>
                                <td>Graphics Designer</td>
                                <td>Riding Bikes</td>
                            </tr>
                            <tr>
                                <td>Ispahani Nusrat</td>
                                <td>28</td>
                                <td>Saudi Arabia</td>
                                <td>Trainer</td>
                                <td>Reading</td>
                            </tr>
                            <tr>
                                <td>Annie Campbell</td>
                                <td>32</td>
                                <td>Australia</td>
                                <td>Banker</td>
                                <td>Counting</td>
                            </tr>
                            <tr>
                                <td>Zyunki Gaagring</td>
                                <td>29</td>
                                <td>Japan</td>
                                <td>Sportsman</td>
                                <td>Football</td>
                            </tr>
                            <tr>
                                <td>Dinesh Kumar Pal</td>
                                <td>34</td>
                                <td>India</td>
                                <td>Technologist</td>
                                <td>Collecting Gadgets</td>
                            </tr>
                        </tbody>
                    </table>
		</div><!-- end of .delTypo -->

    </section><!-- end of #content -->
    
    <footer id="footer">
    	<div class="top">
        	<div class="wrap">
                <section class="cols">
                    <div class="oneThird">
                        <div class="stHead"><h2>Quick Links</h2></div>
                        <div class="col2Links">
                            <ul class="links">
                                <li><a href="#">Graphics Design</a></li>
                                <li><a href="#">Character Design</a></li>
                                <li><a href="#">Animation</a></li>
                                <li><a href="#">Character Modeling</a></li>
                                <li><a href="#">Web Designing</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Mobile Apps Design</a></li>
                            </ul><!-- end of .links -->
                            <ul class="links">
                                <li><a href="#">Mobile Apps Design</a></li>
                                <li><a href="#">Great User Experience</a></li>
                                <li><a href="#">Industry Standard</a></li>
                                <li><a href="#">Bulletin Board</a></li>
                            </ul><!-- end of .links -->
                        </div><!-- end of .col2Links -->
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>RECENT POSTS</h2></div>
                        <ul class="miniBlogList">
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb1.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Donec Libero Sit Amet Quam Egestas Semper</a></h5>
                                <p class="meta"><span>15 May, 2012</span><span>17 Comments</span></p>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb2.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Pellentesque Habitant Tristique Senectus Netus</a></h5>
                                <p class="meta"><span>01 May, 2012</span><span>25 Comments</span></p>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/blogs/mini-list/b-thumb3.jpg" class="border" height="50" width="50" alt="Blog Image" />
                                </a>
                                <h5><a href="#">Senectus Netus Quam Et Malesuada Egestas</a></h5>
                                <p class="meta"><span>17 April, 2012</span><span>39 Comments</span></p>
                            </li>
                        </ul>
                    </div><!-- end of .oneThird -->
                    <div class="oneThird">
                        <div class="stHead"><h2>CONTACT US</h2></div>
                        <ul class="address">
                            <li class="street">153, Deisy Road, Northern Country Side,
    Ohio - 00000.</li>
                            <li class="phone">022-465-3548</li>
                            <li class="email"><a href="mailto:support@circle.com" rel="nofollow">support@circle.com</a></li>
                            <li class="skype"><a href="skype:circles_support?add" rel="nofollow">circles_support</a></li>
                        </ul><!-- end of .address -->
                        <div class="stHead"><h2>NEWSLETTER</h2></div>
                        <form id="nlForm" action="#" method="">
                            <legend style="display: none;">Newsletter Form</legend>
                            <label for="cemail">Email</label>
                            <input type="text" name="cemail" id="cemail" size="30" maxlength="50" />
                            <input type="submit" value="Subscribe">
                        </form>
                    </div><!-- end of .oneThird -->
                </section><!-- end of .cols -->
            </div><!-- end of .wrap -->
		</div><!-- end of .top -->
        <section class="bottom">
        	<div class="contents">
                <p class="copy">Copyright &copy; 2012, <a href="#">Circle</a>. All Rights Reserved.</p>
                <ul class="socialLinks">
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="dribbble"><a href="#">Dribbble</a></li>
                    <li class="flickr"><a href="#">Flickr</a></li>
                </ul><!-- end of socialLinks -->
            </div><!-- end of .contents -->
        </section><!-- end of .bottom -->
    </footer><!-- end of #footer -->

<!-- JavaScript Libraries and Codes -->
    <!-- the jQuery ligrary -->
	<script src="files/codes/js/jquery-1.7.1.min.js"></script>
	<!-- jQuery Cycle plugin -->
    <script style="display: none;" src="files/codes/js/jquery.cycle.all.min.js"></script>
	<!-- jQuery Quicksand plugin -->
    <script style="display: none;" src="files/codes/js/jquery.quicksand.js"></script>
	<!-- jQuery prettyPhoto plugin -->
    <script style="display: none;" src="files/codes/js/jquery.prettyPhoto.js"></script>
	<!-- jQuery twitter plugin -->
    <script style="display: none;" src="files/codes/js/jquery.tweet.js"></script>

	<!-- This file starts/initializes all js functionalities throughout
    	this site and houses some more scripts or libraries. -->
    <script style="display: none;" src="files/codes/js/init.js"></script>

<!-- Weird IE specific codes -->
	<!--[if lt IE 9]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie.css" media="all" />
	    <script type="text/javascript" src="files/codes/js/ie.js"></script>
    <![endif]-->
	<!--[if IE 7]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie7.css" media="all" />
    <![endif]-->
    <!--[if IE 8]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie8.css" media="all" />
    <![endif]-->
    <!--[if IE 9]>
    	<link rel="stylesheet" type="text/css" href="files/codes/css/ie9.css" media="all" />
    <![endif]-->

    <link rel="stylesheet" id="colors" href="files/codes/css/colors/orange-green.css" type="text/css" />

</body>
</html>